<template>
  <svg
    :id="`logo-${id}`"
    :width="input.width"
    :height="input.height"
    :viewBox="input.viewbox"
    xmlns="http://www.w3.org/2000/svg"
  >
    <template v-if="hasStroke">
      <path
        v-for="(item, index) in input.paths"
        :key="index"
        :d="item"
        :stroke="color"
        :stroke-lincap="input.stroke"
        fill="transparent"
        :class="{'animated': animate}"
      />
    </template>
    <template v-else>
      <path
        v-for="(item, index) in input.paths"
        :key="index"
        :d="item"
        :fill="color"
        :class="{'animated': animate}"
        fill-rule="evenodd"
      />
    </template>
    <rect v-if="hasRect"
      :y="input.rect.y"
      :width="input.rect.width"
      :height="input.rect.height"
      fill="none"
      :rx="input.rect.rx"
    />
  </svg>
</template>

<script>
export default {
  props: {
    input: {
      type: Object,
      default() {
        return {
          width: 0,
          height: 0,
          paths: [],
        }
      },
    },
    type: {
      type: String,
      default: 'icon',
    },
    color: {
      type: String,
      default: "currentColor",
    },
    animate: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    hasStroke() {
      return !!this.input.hasOwnProperty('stroke')
    },
    hasRect() {
      return !!this.input.hasOwnProperty('rect')
    },
    id() {
      return this.type + '_' + Math.random().toString(36).substr(2, 9)
    },
  }
}
</script>

<style lang="scss" scoped>
  .animated {
    transition: all ease 1s;
  }
</style>
