<template>
  <Icon type="coffee" :input="symbol" />
</template>

<script>
  import Icon from './BaseIcon'

  export default {
    components: {
      Icon
    },
    data() {
      return {
        symbol: {
          width: 19,
          height: 19,
          viewbox: "0 0 19 19",
          paths: [
            "M2.38 17.899h2.548a.46.46 0 0 0 .452.395h5.792a.46.46 0 0 0 .452-.395h2.547a.78.78 0 0 0 .78-.78H1.601c0 .431.35.78.78.78zm15.64-8.016c-.65-.525-1.564-.534-2.166-.468.017-.42.027-.849.027-1.295H0c0 4.292.65 7.39 4.76 8.545h6.361c1.628-.457 2.708-1.225 3.423-2.246 1.56-.03 4.07-.644 4.163-2.798.04-.943-.351-1.466-.687-1.738zm-2.822 3.305c.3-.768.476-1.632.574-2.58.421-.07 1.147-.114 1.515.185.067.055.277.226.253.778-.05 1.116-1.435 1.49-2.342 1.617zM5.592 7.102s3.023-.222 1.638-2.77C6.117 2.284 6.37 1.084 7.795 0c0 0-4.662 1.188-1.944 4.862.998 1.601-.259 2.24-.259 2.24zM8 6s3.237-.566 1.475-2.728C8.835 2.335 9.718 2 9.718 2s-2.084.055-1.204 1.541C9.218 4.737 9.009 5.415 8 6z"
          ]
        }
      }
    }
  }
</script>
