<template>
  <Icon type="external" :input="symbol" />
</template>

<script>
  import Icon from './BaseIcon'

  export default {
    components: {
      Icon
    },
    data() {
      return {
        symbol: {
          width: 13,
          height: 13,
          viewbox: "0 0 13 13",
          paths: [
            "M10.475 6.644a.525.525 0 0 0-.524.524v3.98c0 .443-.36.803-.802.803H1.85a.803.803 0 0 1-.802-.802V3.85c0-.442.36-.802.802-.802h3.98a.525.525 0 0 0 0-1.049h-3.98C.831 2 0 2.83 0 3.851v7.298C0 12.169.83 13 1.851 13h7.297C10.17 13 11 12.17 11 11.149v-3.98a.525.525 0 0 0-.525-.525zM12.478 0H8.522a.522.522 0 1 0 0 1.043h3.435v3.435a.522.522 0 1 0 1.043 0V.522A.522.522 0 0 0 12.478 0z",
            "M12.853.147a.503.503 0 0 0-.712 0L5.147 7.141a.503.503 0 1 0 .712.712L12.853.859a.503.503 0 0 0 0-.712z"
          ]
        }
      }
    }
  }
</script>

