<template>
  <Icon type="dice" :input="symbol" />
</template>

<script>
  import Icon from './BaseIcon'

  export default {
    components: {
      Icon
    },
    data() {
      return {
        symbol: {
          width: 15,
          height: 15,
          viewbox: "0 0 15 15",
          paths: [
            "M12.783 0H2.217A2.22 2.22 0 0 0 0 2.217v10.566A2.22 2.22 0 0 0 2.217 15h10.566A2.22 2.22 0 0 0 15 12.783V2.218A2.22 2.22 0 0 0 12.783 0zM3.5 13a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm0-8a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm4 4a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm4 4a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm0-8a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"
          ]
        }
      }
    }
  }
</script>
