<template>
  <Icon type="twitter" :input="symbol" />
</template>

<script>
  import Icon from './BaseIcon'

  export default {
    components: {
      Icon
    },
    data() {
      return {
        symbol: {
          width: 18,
          height: 15,
          viewbox: "0 0 18 15",
          paths: [
            "M18 1.775a7.23 7.23 0 0 1-2.12.596A3.788 3.788 0 0 0 17.503.277a7.331 7.331 0 0 1-2.347.92A3.64 3.64 0 0 0 12.461 0C10.422 0 8.77 1.696 8.77 3.787c0 .297.032.586.095.863-3.068-.158-5.789-1.666-7.61-3.958-.318.559-.5 1.21-.5 1.904 0 1.315.653 2.474 1.643 3.153a3.622 3.622 0 0 1-1.673-.476v.048c0 1.835 1.274 3.366 2.962 3.714-.31.086-.636.133-.973.133-.238 0-.47-.024-.695-.07.47 1.505 1.833 2.6 3.448 2.63A7.29 7.29 0 0 1 0 13.297 10.247 10.247 0 0 0 5.66 15c6.793 0 10.505-5.772 10.505-10.778l-.012-.49A7.481 7.481 0 0 0 18 1.775z"
          ]
        }
      }
    }
  }
</script>
