<template>
  <Icon type="export" :input="symbol" />
</template>

<script>
  import Icon from './BaseIcon'

  export default {
    components: {
      Icon
    },
    data() {
      return {
        symbol: {
          width: 16,
          height: 18,
          viewbox: "0 0 16 18",
          paths: [
            "M13.02 6h-2.656v1.624h2.657c.79 0 1.402.416 1.402.774v7.204c0 .357-.612.773-1.402.773H2.979c-.79 0-1.403-.416-1.403-.773V8.398c0-.357.613-.773 1.403-.773h2.656V6H2.98C1.31 6 0 7.054 0 8.398v7.204C0 16.947 1.309 18 2.98 18h10.04c1.671 0 2.98-1.053 2.98-2.398V8.398C16 7.053 14.691 6 13.02 6z",
            "M5.752 4.093c.192 0 .384-.08.53-.24l.941-1.028v8.354c0 .453.337.821.752.821s.751-.368.751-.821v-8.41l.992 1.084c.146.16.339.24.53.24.193 0 .385-.08.532-.24a.876.876 0 0 0 0-1.161L8.537.24A.717.717 0 0 0 8.006 0h-.012a.717.717 0 0 0-.53.24L5.22 2.692a.876.876 0 0 0 0 1.16c.147.161.34.241.532.241z",
          ]
        }
      }
    }
  }
</script>
