<template>
  <Icon type="arrow-right" :input="symbol" />
</template>

<script>
  import Icon from './BaseIcon'

  export default {
    components: {
      Icon
    },
    data() {
      return {
        symbol: {
          width: 16,
          height: 24,
          viewbox: "0 0 16 24",
          paths: [
            "M1.08.52a1.68 1.68 0 0 0 0 2.4L10.51 12l-9.39 9.08a1.7 1.7 0 0 0 2.36 2.44L15.4 12 3.48.47a1.69 1.69 0 0 0-2.4.05z"
          ]
        }
      }
    }
  }
</script>
