<template>
  <Icon type="dice" :input="symbol" />
</template>

<script>
  import Icon from './BaseIcon'

  export default {
    components: {
      Icon
    },
    data() {
      return {
        symbol: {
          width: 15,
          height: 15,
          viewbox: "0 0 15 15",
          stroke: "square",
          paths: [
            "M13.606 8.739l-4.862 4.863a1.356 1.356 0 0 1-1.92 0L1 7.782V1h6.78l5.826 5.826c.525.53.525 1.384 0 1.913z",
          ]
        }
      }
    }
  }
</script>
