<template>
  <Icon type="filter" :input="symbol" />
</template>

<script>
  import Icon from './BaseIcon'

  export default {
    components: {
      Icon
    },
    data() {
      return {
        symbol: {
          width: 13,
          height: 13,
          viewbox: "0 0 13 13",
          paths: [
            "M7.583 12.979H13v-2.16H7.583v2.16zM0 .02v2.16h13V.02H0zM3.25 7.58H13V5.42H3.25v2.16z"
          ]
        }
      }
    }
  }
</script>
