<template>
  <Icon type="reddit" :input="symbol" />
</template>

<script>
  import Icon from './BaseIcon'

  export default {
    components: {
      Icon
    },
    data() {
      return {
        symbol: {
          width: 21,
          height: 19,
          viewbox: "0 0 21 19",
          paths: [
            "M14.107 13c-.904 0-1.642-.748-1.642-1.667 0-.918.738-1.667 1.642-1.667.905 0 1.642.749 1.642 1.667 0 .919-.737 1.667-1.642 1.667m.29 2.736c-1.122 1.136-3.268 1.226-3.899 1.226-.63 0-2.78-.09-3.898-1.226a.436.436 0 0 1 0-.611.42.42 0 0 1 .602 0c.706.717 2.215.973 3.296.973 1.078 0 2.591-.256 3.297-.973a.42.42 0 0 1 .602 0 .441.441 0 0 1 0 .611m-9.156-4.403c0-.918.738-1.667 1.642-1.667.905 0 1.642.75 1.642 1.667 0 .919-.737 1.668-1.642 1.668-.904 0-1.642-.75-1.642-1.668M21 9.666c0-1.29-1.027-2.332-2.298-2.332-.62 0-1.182.25-1.594.656-1.57-1.152-3.735-1.895-6.146-1.98l1.046-5.002 3.42.74c.04.882.753 1.586 1.632 1.586.908 0 1.642-.745 1.642-1.667C18.702.746 17.968 0 17.06 0a1.63 1.63 0 0 0-1.465.931l-3.82-.825a.405.405 0 0 0-.485.32s-1.148 5.548-1.148 5.58c-2.455.064-4.661.81-6.256 1.977a2.262 2.262 0 0 0-1.588-.65C1.028 7.334 0 8.38 0 9.667c0 .947.558 1.763 1.358 2.128-.034.23-.053.467-.053.707 0 3.59 4.116 6.499 9.193 6.499 5.078 0 9.194-2.909 9.194-6.499 0-.237-.019-.47-.053-.7A2.345 2.345 0 0 0 21 9.666"
          ]
        }
      }
    }
  }
</script>
