<template>
  <Icon type="share" :input="symbol" />
</template>

<script>
  import Icon from './BaseIcon'

  export default {
    components: {
      Icon
    },
    data() {
      return {
        symbol: {
          width: 15,
          height: 15,
          viewbox: "0 0 16 15",
          paths: [
            "M12.24 9.532c-.876 0-1.648.414-2.153 1.047l-4.68-2.373c.06-.227.105-.461.105-.707 0-.269-.053-.521-.126-.767l4.66-2.363a2.746 2.746 0 0 0 2.194 1.095c1.525 0 2.758-1.222 2.758-2.732C14.998 1.223 13.765 0 12.24 0c-1.52 0-2.755 1.223-2.755 2.732 0 .247.044.482.106.71l-4.68 2.373a2.752 2.752 0 0 0-2.156-1.05A2.744 2.744 0 0 0 0 7.5a2.743 2.743 0 0 0 2.755 2.732c.901 0 1.693-.434 2.197-1.097l4.658 2.363c-.073.245-.126.5-.126.768 0 1.51 1.234 2.733 2.755 2.733 1.524 0 2.757-1.223 2.757-2.733s-1.232-2.733-2.756-2.733z"
          ]
        }
      }
    }
  }
</script>
