<template>
  <Icon type="facebook" :input="symbol" />
</template>

<script>
  import Icon from './BaseIcon'

  export default {
    components: {
      Icon
    },
    data() {
      return {
        symbol: {
          width: 17,
          height: 17,
          viewbox: "0 0 17 17",
          paths: [
            "M17 2.834C17 1.344 15.656 0 14.167 0H2.833C1.344 0 0 1.345 0 2.834v11.332C0 15.656 1.344 17 2.834 17H8.5v-6.422H6.422V7.744H8.5V6.641c0-1.904 1.43-3.619 3.188-3.619h2.29v2.834h-2.29c-.251 0-.544.304-.544.76v1.128h2.834v2.834h-2.834V17h3.023C15.656 17 17 15.655 17 14.166V2.834z"
          ]
        }
      }
    }
  }
</script>
