<template>
  <Icon type="grid" :input="symbol" />
</template>

<script>
  import Icon from './BaseIcon'

  export default {
    components: {
      Icon
    },
    data() {
      return {
        symbol: {
          width: 18,
          height: 18,
          viewbox: "0 0 24 24",
          stroke: "square",
          paths: [
            "m3 3h7v7h-7z",
            "m14 3h7v7h-7z",
            "m14 14h7v7h-7z",
            "m3 14h7v7h-7z",
          ]
        }
      }
    }
  }
</script>

