<template>
  <Icon type="comment" :input="symbol" />
</template>

<script>
  import Icon from './BaseIcon'

  export default {
    components: {
      Icon
    },
    data() {
      return {
        symbol: {
          width: 13,
          height: 13,
          viewbox: "0 0 13 13",
          stroke: "square",
          paths: [
            "M12 6.194a5.121 5.121 0 0 1-.55 2.323 5.194 5.194 0 0 1-4.644 2.872 5.121 5.121 0 0 1-2.323-.55L1 12l1.161-3.483a5.121 5.121 0 0 1-.55-2.323A5.194 5.194 0 0 1 4.483 1.55 5.121 5.121 0 0 1 6.806 1h.305A5.182 5.182 0 0 1 12 5.889v.305z"
          ]
        }
      }
    }
  }
</script>

