<template>
  <Icon type="presets" :input="symbol" />
</template>

<script>
  import Icon from './BaseIcon'

  export default {
    components: {
      Icon
    },
    data() {
      return {
        symbol: {
          width: 16,
          height: 17,
          viewbox: "0 0 16 17",
          paths: [
            "M8.484 8.003a2.347 2.347 0 0 1 1.88 2.298c0 1.135-.81 2.082-1.88 2.297v3.358a.46.46 0 0 1-.462.461.46.46 0 0 1-.461-.461v-3.358a2.347 2.347 0 0 1-1.88-2.297c0-1.135.81-2.082 1.88-2.298V.462A.46.46 0 0 1 8.022 0a.46.46 0 0 1 .462.462v7.541zm-5.652-3.87a2.343 2.343 0 0 1 1.88 2.294c0 1.135-.81 2.082-1.88 2.298v7.23a.46.46 0 0 1-.461.462.46.46 0 0 1-.462-.461V8.728A2.347 2.347 0 0 1 .03 6.431c0-1.135.81-2.082 1.88-2.298V.462A.46.46 0 0 1 2.371 0a.46.46 0 0 1 .461.462v3.671zm11.269 0a2.34 2.34 0 0 1 0 4.592v7.234a.46.46 0 0 1-.462.462.46.46 0 0 1-.461-.462v-7.23a2.347 2.347 0 0 1-1.88-2.298c0-1.135.81-2.082 1.88-2.298V.462A.46.46 0 0 1 13.639 0a.46.46 0 0 1 .462.462v3.671z",
          ]
        }
      }
    }
  }
</script>

