<template>
  <Icon type="history" :input="symbol" />
</template>

<script>
  import Icon from './BaseIcon'

  export default {
    components: {
      Icon
    },
    data() {
      return {
        symbol: {
          width: 15,
          height: 15,
          viewbox: "0 0 16 14",
          paths: [
            "M8.4.023c-2.8 0-5.28 1.496-6.56 3.778L0 1.99v5.115h5.2L2.96 4.903C4 2.935 6 1.597 8.4 1.597c3.28 0 6 2.676 6 5.903 0 3.227-2.72 5.903-6 5.903-2.64 0-4.8-1.653-5.68-3.935H1.04c.88 3.148 3.84 5.509 7.36 5.509 4.24 0 7.6-3.384 7.6-7.477S12.56.023 8.4.023zM7.2 3.958v4.014l3.76 2.204.64-1.023-3.2-1.89V3.959H7.2z"
          ]
        }
      }
    }
  }
</script>
