<template>
  <Icon type="linkedin" :input="symbol" />
</template>

<script>
  import Icon from './BaseIcon'

  export default {
    components: {
      Icon
    },
    data() {
      return {
        symbol: {
          width: 17,
          height: 17,
          viewbox: "0 0 17 17",
          paths: [
            "M14.263 10.045c0-.563-.072-1.054-.217-1.473a2.929 2.929 0 0 0-.598-1.042 2.344 2.344 0 0 0-.897-.611 3.145 3.145 0 0 0-1.133-.198c-.326 0-.61.039-.852.117-.242.078-.45.18-.625.305-.175.126-.323.26-.444.405-.121.143-.224.275-.308.395V6.9H6.724c.012.203.018.599.018 1.186v2.228l-.018 3.972h2.465v-4.134c0-.108.006-.212.018-.314a.992.992 0 0 1 .072-.279c.097-.215.245-.419.444-.61.2-.192.475-.288.825-.288.447 0 .767.152.96.458.194.305.29.71.29 1.213v3.953h2.465v-4.24zM4.114 5.895c.435 0 .78-.127 1.033-.378.254-.252.375-.551.363-.899 0-.359-.124-.662-.372-.907-.248-.246-.583-.369-1.006-.369-.423 0-.761.123-1.015.369-.253.245-.38.548-.38.907 0 .348.12.647.362.899.242.251.574.377.997.377h.018zM5.346 6.9H2.882v7.385h2.464V6.901zM3 0h11a3 3 0 0 1 3 3v11a3 3 0 0 1-3 3H3a3 3 0 0 1-3-3V3a3 3 0 0 1 3-3z"
          ]
        }
      }
    }
  }
</script>
