<template>
  <Icon type="email" :input="symbol" />
</template>

<script>
  import Icon from './BaseIcon'

  export default {
    components: {
      Icon
    },
    data() {
      return {
        symbol: {
          width: 15,
          height: 11,
          viewbox: "0 0 15 11",
          paths: [
            "M7.5 7.7L5.644 6.032.34 10.702c.192.184.453.298.74.298H13.92c.286 0 .545-.114.737-.298l-5.302-4.67L7.5 7.7z",
            "M14.661.298a1.064 1.064 0 0 0-.74-.298H1.08A1.06 1.06 0 0 0 .34.3L7.5 6.6 14.661.298z",
            "M0 0.9658L0 10.1046 5.17821429 5.5869z",
            "M9.82178571 5.5869L15 10.1046 15 0.9625z",
          ]
        }
      }
    }
  }
</script>
