<template>
  <Icon type="upvote" :input="symbol" />
</template>

<script>
  import Icon from './BaseIcon'

  export default {
    components: {
      Icon
    },
    data() {
      return {
        symbol: {
          width: 13,
          height: 13,
          viewbox: "0 0 13 13",
          stroke: "square",
          paths: [
            "M7.6 4.85v-2.2A1.65 1.65 0 0 0 5.95 1l-2.2 4.95V12h6.204a1.1 1.1 0 0 0 1.1-.935l.759-4.95a1.1 1.1 0 0 0-1.1-1.265H7.6zM3.75 12H2.1A1.1 1.1 0 0 1 1 10.9V7.05a1.1 1.1 0 0 1 1.1-1.1h1.65V12z"
          ]
        }
      }
    }
  }
</script>

