<template>
  <Icon type="date" :input="symbol" />
</template>

<script>
  import Icon from './BaseIcon'

  export default {
    components: {
      Icon
    },
    data() {
      return {
        symbol: {
          width: 14,
          height: 13,
          viewbox: "0 0 14 13",
          paths: [
            "M.538 12.893H13.45c.275 0 .49-.215.49-.49V1.492a.484.484 0 0 0-.49-.49h-2.43V.585a.484.484 0 0 0-.49-.489.484.484 0 0 0-.49.49v.417H4.031V.584a.484.484 0 0 0-.49-.489.484.484 0 0 0-.49.49v.417H.537a.484.484 0 0 0-.49.489v10.925a.49.49 0 0 0 .49.477zM1.03 1.98h2.022v.646c0 .676.216 1.206.49 1.206.276 0 .491-.53.491-1.206V1.98h6.007v.646c0 .676.216 1.206.49 1.206.276 0 .492-.53.492-1.206V1.98h1.95v3.115H1.029V1.98zm0 4.115h11.93v5.832H1.029V6.095z"
          ]
        }
      }
    }
  }
</script>

