<template>
  <Icon type="random" :input="symbol" />
</template>

<script>
  import Icon from './BaseIcon'

  export default {
    components: {
      Icon
    },
    data() {
      return {
        symbol: {
          width: 18,
          height: 19,
          viewbox: "0 0 23 20",
          paths: [
            "M22.741 15.206l-4.312-3.542a.729.729 0 0 0-.765-.097.709.709 0 0 0-.414.641v2.125h-1.203a2.87 2.87 0 0 1-2.438-1.331L8.954 5.663A5.735 5.735 0 0 0 4.078 3H0v2.833h4.078a2.87 2.87 0 0 1 2.438 1.332l4.655 7.338a5.738 5.738 0 0 0 4.876 2.664h1.203v2.125c0 .274.161.524.414.641a.738.738 0 0 0 .305.067c.165 0 .329-.055.46-.164l4.312-3.542a.7.7 0 0 0 0-1.088z",
            "M22.743 3.455L18.463.152a.76.76 0 0 0-.76-.09.655.655 0 0 0-.41.597v1.982h-1.195c-1.982 0-3.791.929-4.84 2.483L11 5.507 12.682 8l.996-1.475c.525-.777 1.43-1.242 2.42-1.242h1.195v1.981c0 .256.16.49.41.599.096.04.2.062.303.062a.749.749 0 0 0 .457-.154l4.28-3.302A.639.639 0 0 0 23 3.962a.639.639 0 0 0-.257-.507zM7.345 11l-.979 1.652c-.517.87-1.408 1.39-2.383 1.39H0V17h3.983c1.95 0 3.73-1.04 4.763-2.78L9 13.79 7.345 11z"
          ]
        }
      }
    }
  }
</script>
