<template>
  <Icon type="brush" :input="symbol" />
</template>

<script>
  import Icon from './BaseIcon'

  export default {
    components: {
      Icon
    },
    data() {
      return {
        symbol: {
          width: 15,
          height: 15,
          viewbox: "0 0 15 15",
          paths: [
            "M14.848 5.835a.506.506 0 0 0 0-.715l-.759-.759a.506.506 0 0 0-.641-.06l-1.596 1.084 1.078-1.606a.506.506 0 0 0-.062-.64l-1.646-1.646a.505.505 0 0 0-.577-.098l-.285.137.137-.302a.506.506 0 0 0-.104-.565L9.876.148a.506.506 0 0 0-.715 0L5.148 4.161l5.687 5.687 4.013-4.013zM4.401 4.909L3.239 6.07a.506.506 0 0 0 0 .715l1.102 1.102a.98.98 0 0 1 .283.804.982.982 0 0 1-.45.724C.933 11.48.633 11.781.533 11.88a1.828 1.828 0 0 0 0 2.582c.712.713 1.87.712 2.582 0 .1-.099.401-.4 2.465-3.639a.98.98 0 0 1 .724-.45.98.98 0 0 1 .804.282l1.102 1.102a.506.506 0 0 0 .715 0l1.162-1.162L4.4 4.91zm-2.04 8.737a.715.715 0 1 1-1.01-1.01.715.715 0 0 1 1.01 1.01z"
          ]
        }
      }
    }
  }
</script>
