<template>
  <Icon type="star" :input="symbol" />
</template>

<script>
  import Icon from './BaseIcon'

  export default {
    components: {
      Icon
    },
    data() {
      return {
        symbol: {
          width: 16,
          height: 16,
          viewbox: "0 0 16 16",
          stroke: "square",
          paths: [
            "m8 0 2.472 5.008 5.528.808-4 3.896.944 5.504-4.944-2.6-4.944 2.6.944-5.504-4-3.896 5.528-.808z",
          ]
        }
      }
    }
  }
</script>

