<template>
  <div class="action" :class="{'is-loading': loading}" @click="onClick" >
    <IconExternal class="action__icon" />
    <a :href="link" ref="link" target="_blank" class="action__data">
      <Placeholder class="action__placeholder" v-if="loading" width="90" />
      <div class="action__text">
        <slot></slot>
      </div>
    </a>
  </div>
</template>

<script>
  import { IconExternal } from '~/components/Icons'
  import Placeholder from '~/components/BodyCardPlaceholder'

  export default {
    components: {
      Placeholder, IconExternal,
    },
    props: {
      loading: {
        type: Boolean,
        default: false,
      },
      link: {
        type: String,
      },
    },
    methods: {
      onClick() {
        this.$emit('view')
        this.$refs.link.click()
      },
    },
  }
</script>

<style lang="scss" scoped>
  .action {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.3px;
    font-weight: 500;
    display: flex;
    align-items: center;
    flex-direction: row;
    transition: opacity ease 0.3s;
    white-space: nowrap;
    position: relative;
    font-weight: bold;
    color: #3E396B;
    cursor: pointer;

    @include theme(dark) {
      color: #fff;
    }

    @include theme(green) {
      color: #347976;
    }

    @include theme(red) {
      color: #502727;
    }

    &:hover {
      opacity: 0.6;
    }

    @include media(mobile) {
      padding: 8px 20px;
      justify-content: center;
      width: auto;
      display: inline-flex;
      border-radius: 100px;
      font-size: 10px;
      background: #f8f9fd;

      @include theme(dark) {
        background: #182e43;
      }

      @include theme(green) {
        background: #f3f9f8;
      }

      @include theme(red) {
        background: #fbf9f9;
      }
    }
  }

  .action__icon {
    margin-top: -2px;
    float: none;
    margin-right: 7px;
    transition: all ease 0.3s;

    .is-loading & {
      opacity: 0.1;
    }
  }

  .action__data {
    position: relative;
    line-height: 1;
  }

  .action__placeholder {

  }

  .action__text{

    .is-loading & {
      opacity: 0;
    }
  }
</style>

