<template>
  <div class="placeholder" :style="{width: `${width}%`}"></div>
</template>

<script>
  export default {
    props: {
      width: {
        type: [Number, String],
        default: 100,
      },
    },
  }
</script>

<style lang="scss" scoped>
  .placeholder {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 4px;
    position: absolute;
    background: #EDF0F3;
    animation: flick-light infinite 1.5s;

    @include theme(dark) {
      background: #243C52;
      animation: flick-dark infinite 1.5s;
    }

    @include theme(red) {
      background: #f9f3f3;
      animation: flick-red infinite 1.5s;
    }

    @include theme(green) {
      background: #f3f9f8;
      animation: flick-green infinite 1.5s;
    }

    &::before {
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      opacity: 0.5;
      animation: rollup infinite 1.5s;
      background: linear-gradient(90deg, rgba(#fff, 0), rgba(#000, 0.01), rgba(#fff, 0));

      @include theme(dark) {
        background: linear-gradient(90deg, rgba(#fff, 0), rgba(#fff, 0.01), rgba(#fff, 0));
      }
    }
  }

  @keyframes flick-dark {
    0% {
      background: #243C52;
    }
    50% {
      background: #233950
    }
  }

  @keyframes flick-light {
    0% {
      background: #EDF0F3;
    }
    50% {
      background: #F4F5F8;
    }
  }

  @keyframes flick-red {
    0% {
      background: #f9f3f3;
    }
    50% {
      background: #f3eded;
    }
  }

  @keyframes flick-green {
    0% {
      background: #f3f9f8;
    }
    50% {
      background: #f4f8f7;
    }
  }

  @keyframes rollup {
    0% {
      transform: translate3d(-100%, 0, 0);
    }
    100% {
      transform: translate3d(100%, 0, 0);
    }
  }
</style>
