<template>
  <div class="image" :class="{'is-loading': loading, 'is-not-rendered': !imageRendering, 'is-rendered': imageRendering}">
    <Placeholder class="image__placeholder" v-if="loading" />
    <div class="dots" v-if="!imageRendering && !loading">
      <svg width="18" height="4" viewBox="0 0 14 4" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
        <circle cx="2" cy="2" r="2">
            <animate attributeName="fill-opacity" from="1" to="1" begin="0s" dur="0.5s" values="1;0;1" calcMode="linear" repeatCount="indefinite" />
        </circle>
        <circle cx="8" cy="2" r="2">
            <animate id="op" attributeName="fill-opacity" from="1" to="1" begin="0.15s" dur="0.5s" values="1;0;1" calcMode="linear" repeatCount="indefinite" />
        </circle>
        <circle cx="14" cy="2" r="2">
            <animate attributeName="fill-opacity" from="1" to="1" begin="0.3s" dur="0.5s" values="1;0;1" calcMode="linear" repeatCount="indefinite" />
        </circle>
      </svg>
    </div>
    <div class="image__data">
      <slot></slot>
    </div>
  </div>
</template>

<script>
  import Placeholder from '~/components/BodyCardPlaceholder'

  export default {
    components: {
      Placeholder,
    },
    props: {
      loading: {
        type: Boolean,
        default: false,
      },
      imageRendering: {
        type: Boolean,
        default: false,
      },
    },
  }
</script>

<style lang="scss" scoped>
  .image {
    position: relative;

    &.is-not-rendered {
      background: #20364C;

      @include theme(dark) {
        box-shadow: 0 10px 20px rgba(#000, 0.05);
      }

      @include theme(light, red, blue, green) {
        background: #FAFBFC;
      }
    }

    .dots {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      margin-top: -2px;
      opacity: 0.25;

      @include theme(dark) {
        color: #fff;
      }

      @include theme(light, blue) {
        color: $blue-text-color;
      }

      @include theme(red) {
        color: $red-text-color;
      }

      @include theme(green) {
        color: $green-text-color;
      }
    }


    img {
      max-width: 100%;

      .is-loading & {
        display: none;
      }
    }
  }


  .image__data {

    .is-rendered & {

      @include media(mobile) {
        border-radius: 6px;
        background: #FAFBFC;
        height: 100%;
      }

      @include theme(light, red, blue, green) {
        background: #FAFBFC;
      }

    }

  }
</style>
