<template>
  <div class="error" :class="[`type-${type}`]">
    <div class="error__image"></div>
    <div class="error__text">
      {{ text[type] }}
    </div>
    <div class="error__action">
      <span @click="action">
        {{ actions[type] }}
      </span>
    </div>
  </div>
</template>

<script>
  import { mapActions } from 'vuex'

  export default {
    props: {
      type: {
        type: String,
      },
    },
    data() {
      return {
        text: {
          server: 'It looks like a server error',
          empty: 'There are no products that match your criteria'
        },
        actions: {
          server: 'Please try later',
          empty: 'Try to change filters'
        },
      }
    },
    methods: {
      ...mapActions([
        'openFilter',
      ]),
      action() {
        switch(this.type) {
          case 'empty':
            this.openFilter()
          break
        }
      },
    },
  }
</script>

<style lang="scss" scoped>
  .error {
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .error__image {
    @include image('emoji-empty-product.png');
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .error__text {
    margin: 20px 0 25px;
    width: 50%;
    text-transform: uppercase;
    color: #A9B8C5;
    font-weight: 500;
    letter-spacing: 0.8px;

    @include theme(dark) {
      opacity: 0.5;
    }

    @include theme(green) {
      color: rgba(#8fa7a5, 0.8);
    }

    @include theme(red) {
      color: rgba(#9a8a8a, 0.8);
    }

    @include media(mobile) {
      width: 80%;
    }
  }

  .error__action {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.8px;
    font-size: 14px;
    cursor: pointer;
    transition: all ease 0.3s;
    opacity: 0.6;
    color: #2e445a;

    @include theme(dark) {
      color: #fff;
    }

    @include theme(green) {
      color: #347976;
    }

    @include theme(red) {
      color: #602929;
    }

    &:hover {
      opacity: 1;
    }

    .type-server & {
      cursor: default;

      &:hover {
        opacity: 0.6;
      }
    }
  }
</style>
