<template>
  <div class="topics" :class="{'is-loading': loading}">
    <Placeholder class="tagline__placeholder" v-if="loading" width="20" />
    <Placeholder class="tagline__placeholder tagline__placeholder--right" v-if="loading" width="20" />
    <ul class="topics__list">
      <li class="topics__item" v-for="(item, index) in topics" :key="`topic.${index}`" :class="{'is-active': item.active}" @click="open(item.Title)">
        <span>{{ item.Title }}</span>
      </li>
    </ul>
  </div>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex'
  import { sortBy, cloneDeep } from 'lodash'
  import Placeholder from '~/components/BodyCardPlaceholder'

  export default {
    components: {
      Placeholder,
    },
    props: {
      list: {
        type: Array,
        default: [],
      },
      loading: {
        type: Boolean,
        default: false,
      },
    },
    computed: {
      ...mapGetters({
        filterTopics: 'filter/topics',
      }),
      topics() {
        let list = cloneDeep(this.list)
        list.forEach((item) => {
          if (!!this.filterTopics && this.filterTopics.indexOf(item.Id) !== -1) {
            item.Rank = item.Rank + 1000
            item.active = true
          } else {
            item.active = false
          }
        })
        return sortBy(list, ['Rank']).reverse().splice(0, 7)
      },
    },
    methods: {
      ...mapActions({
        openFilter: 'openFilter',
        setTopicsSearchQuery: 'topics/setSearchQuery',
        setActiveFilterWidget: 'setActiveFilterWidget',
      }),
      open(title) {
        this.setActiveFilterWidget('topics')
        this.openFilter()
        this.setTopicsSearchQuery(title)
      },
    },
  }
</script>

<style lang="scss" scoped>
  .topics {
    position: relative;

    &.is-loading {
      min-height: 20px;
    }
  }

  .tagline__placeholder {
    height: 22px;

    @include media(mobile) {
      left: 50%;
      transform: translateX(-110%);
    }

    &--right {
      left: 23%;

      @include media(mobile) {
        left: 50%;
        transform: translateX(10%);
      }
    }
  }

  .topics__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: -5px;

    .is-loading & {
      display: none;
    }

    @include media(mobile) {
      justify-content: center;
      max-height: 41px;
      overflow: hidden;

      @media screen and (min-height: 700px) {
        max-height: none;
        overflow: visible;
      }
    }
  }

  .topics__item {
    text-transform: uppercase;
    font-size: 10px;
    line-height: 10px;
    letter-spacing: 0.5px;
    color: #667D96;
    white-space: nowrap;
    margin-bottom: 5px;

    @include theme(green) {
      color: #669196;
    }

    @include theme(red) {
      color: #503c3c;
    }

    @include media(mobile) {
      margin: 3px;
      font-size: 8px;
      line-height: 8px;
      font-weight: 600;
    }

    span {
      cursor: pointer;
      opacity: 0.5;
      transition: all ease 0.3s;

      @include media(mobile) {
        border: 1px solid;
        border-radius: 3px;
        padding: 3px 6px 2px;
        display: block;
      }
    }

    &:hover {

      span {
        opacity: 0.8;
      }
    }

    &.is-active {

      span {
        cursor: default;
        opacity: 1;
      }
    }

    &::after {
      content: ",";
      opacity: 0.5;
      margin-right: 4px;

      @include media(mobile) {
        display: none;
      }
    }

    &:last-child::after {
      content: "";
      margin-right: 0;
    }
  }
</style>

