<template>
  <div class="badges">
    <div class="badges__list">
      <div class="badges__item badges__item--monthly" v-if="!!input.Monthly">
        <b>#{{input.Monthly}}</b> of the <b>Month</b>
      </div>
      <div class="badges__item badges__item--weekly" v-if="!!input.Weekly">
        <b>#{{input.Weekly}}</b> of the <b>week</b>
      </div>
      <div class="badges__item badges__item--daily" :class="[`count-${input.Daily}`]" v-if="!!input.Daily">
        <b>#{{input.Daily}}</b> of the <b>day</b>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      input: {
        default: null,
      },
    },
  }
</script>

<style lang="scss" scoped>
  .badges {
    color: #a8b7c5;
    margin: 10px 0 -10px;

    @include theme(dark) {
      color: #5B7994;
    }

    @include theme(red) {
      color: #967e7e;
    }

    @include theme(green) {
      color: #7ea0a0;
    }

    @include media(mobile) {
      margin: 25px 0 -15px;
    }
  }

  .badges__list {
    text-transform: uppercase;

    @include media(mobile) {
      text-align: center;
    }
  }

  .badges__item {
    font-size: 8px;
    letter-spacing: 0.4px;
    opacity: 0;
    visibility: hidden;
    animation: showMe 0.5s 1 forwards;
    font-weight: 400;
    border-radius: 100px;
    transform-origin: bottom center;
    display: inline-flex;
    align-items: center;
    position: relative;
    padding: 2px 5px 1px 0px;
    margin-right: 8px;
    background-image: linear-gradient(to right, rgba(#fafbfc, 0.3), #fafbfc);
    transition: all ease 0.3s;

    @include theme(dark) {
      background-image: linear-gradient(to right, rgba(#182e43, 0.3), #182e43);
    }

    @include theme(red) {
      background-image: linear-gradient(to right, rgba(#fcfafa, 0.3), #fcfafa);
    }

    @include theme(green) {
      background-image: linear-gradient(to right, rgba(#f5f9f8, 0.3), #f5f9f8);
    }

    b {
      display: inline-block;
      margin: 0 3px;
      font-weight: bold;
    }

    &:nth-child(1) {
      animation-delay: 0;
    }

    &:nth-child(2) {
      animation-delay: 0.1s;
    }

    &:nth-child(3) {
      animation-delay: 0.2s;
    }

    &::before {
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      content: "";
      display: block;
      margin-right: 2px;
    }

    &--daily {

      &::before {
        width: 9px;
        height: 12px;
        @include image('daily-star-bronze.svg');
      }

      &.count-1::before {
        @include image('daily-star.svg');
      }

      &.count-2::before {
        @include image('daily-star-silver.svg');
      }
    }

    &--monthly {

      &::before {
        width: 11px;
        height: 12px;
        @include image('monthly.svg');
      }
    }

    &--weekly {

      &::before {
        width: 8px;
        height: 12px;
        @include image('weekly.svg');
      }
    }
  }

  @keyframes showMe {
    100% {
      opacity: 1;
      visibility: visible;
    }
  }
</style>
