<template>
  <div class="start">
    <Tagline class="start__tagline" :big="true" />
    <div class="start__title">Are you ready for shuffling?</div>
    <div class="start__action">
      <Button type="shuffle" @click="start">Ok, Let's go!</Button>
    </div>
  </div>
</template>

<script>
  import { mapActions } from 'vuex'
  import Button from '~/components/UI/Button'
  import Tagline from '~/components/Tagline'

  export default {
    components: {
      Button, Tagline,
    },
    methods: {
      ...mapActions([
        'start',
      ]),
    },
  }
</script>

<style lang="scss" scoped>
  .start {
    user-select: none;

    @include media(mobile) {
      padding: 0 40px;
    }
  }

  .start__tagline {
    max-width: 500px;
    margin: 0 auto;
  }

  .start__title {
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    line-height: 24px;
    color: #667D96;
    letter-spacing: 0.6px;
    font-weight: 400;
    margin: 35px 0 50px;

    @include theme(red, green, blue) {
      color: rgba(#fff, 0.5);
    }
  }

  .start__action {
    text-align: center;
  }
</style>
