<template>
  <div class="comments" :class="{'is-loading': loading}">
    <IconComment class="comments__icon" />
    <div class="comments__data">
      <Placeholder class="comments__placeholder" v-if="loading" width="50" />
      <div class="comments__text">
        <slot></slot>
      </div>
    </div>
  </div>
</template>

<script>
  import { IconComment } from '~/components/Icons'
  import Placeholder from '~/components/BodyCardPlaceholder'

  export default {
    components: {
      Placeholder, IconComment,
    },
    props: {
      loading: {
        type: Boolean,
        default: false,
      },
    },
  }
</script>

<style lang="scss" scoped>
  .comments {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;

    @include media(mobile) {
      justify-content: flex-end;
    }
  }

  .comments__icon {
    margin-right: 7px;
    flex: none;
    transition: all ease 0.3s;

    .is-loading & {
      opacity: 0.3;
    }
  }

  .comments__data {
    line-height: 1;

    .is-loading & {
      @include media(mobile) {
        width: 30px;
      }
    }
  }

  .comments__placeholder {
    top: 0;
    height: 15px;
    margin-left: 2px;
  }

  .comments__text {

    .is-loading & {
      opacity: 0;
    }
  }
</style>
