<template>
  <div class="promoted">Promoted</div>
</template>

<script>
  export default {

  }
</script>

<style lang="scss" scoped>
  .promoted {
    text-transform: uppercase;
    font-size: 8px;
    letter-spacing: 0.6px;
    font-weight: bold;
    color: #d9dfe4;

    @include theme(dark) {
      color: #355068;
    }

    @include theme(green) {
      color: #c7d7d8;
    }

    @include theme(red) {
      color: #c2bbbb;
    }
  }
</style>
