<template>
  <div class="body">
    <div class="body__content">
      <CardsList class="body__cards" v-if="isShowCards" />
      <BodyStart class="body__start" v-else />
    </div>
  </div>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex'
  import BodyStart from '~/components/BodyStart'
  import CardsList from '~/components/BodyCardsList'

  export default {
    components: {
      BodyStart, CardsList,
    },
    computed: {
      ...mapGetters([
        'isShowCards',
      ]),
    },
  }
</script>

<style lang="scss" scoped>
  .body {
    display: flex;
    align-items: center;
    justify-content: center;

    @include media(mobile) {
      display: block;
    }
  }

  .body__content {

    @include media(mobile) {
      width: 100%;
      margin-top: 65px;

      @media screen and (max-height: 670px) {
        margin-top: 35px;
      }
    }
  }

  .body__start {
    margin: 0 auto;

    @include media(mobile) {
      width: 100%;
      margin-top: 15vh;
    }
  }
</style>
