<template>
  <div class="date" :class="{'is-loading': loading}">
    <IconDate class="date__icon" />
    <div class="date__data">
      <Placeholder class="date__placeholder" v-if="loading" width="60" />
      <div class="date__text">
        <slot></slot>
      </div>
    </div>
  </div>
</template>

<script>
  import { IconDate } from '~/components/Icons'
  import Placeholder from '~/components/BodyCardPlaceholder'

  export default {
    components: {
      Placeholder, IconDate,
    },
    props: {
      loading: {
        type: Boolean,
        default: false,
      },
    },
  }
</script>

<style lang="scss" scoped>
  .date {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .date__data {
    line-height: 1;
  }

  .date__icon {
    margin-right: 7px;
    flex: none;
    transition: all ease 0.3s;

    .is-loading & {
      opacity: 0.3;
    }
  }

  .date__placeholder {
    top: 0;
    height: 15px;
    margin-left: 4px;
  }

  .date__text {

    .is-loading & {
      opacity: 0;
    }
  }
</style>
