<template>
  <div class="card" :class="[{'is-disabled': disabled, 'is-loading': isLoading, 'is-error': error}, `position-${position}`]">

    <transition name="fade">
      <Error class="card__error" v-if="error" :type="errorType" />
    </transition>

    <div class="card__body">
      <Promoted class="card__promoted" v-if="isPromoted" />
      <Pic class="card__image" :loading="isLoading" :image-rendering="isImageLoaded">
        <a @click="viewProduct" target="_blank" :href="url">
          <img :src="image" @load="onImageLoad" />
        </a>
      </Pic>
      <div class="card__main">
        <Title class="card__title" :loading="isLoading" :size="titleSize">
          <a @click="viewProduct" target="_blank" :href="url">
            {{ title }}
          </a>
        </Title>
        <Tagline class="card__tagline" :loading="isLoading" :size="taglineSize">{{ tagline }}</Tagline>
        <Topics class="card__topics" :loading="isLoading" :list="topics" v-if="topics.length || isLoading"/>
        <Badges class="card__badges" v-if="badges" :input="badges" />
      </div>
    </div>

    <div class="card__footer">
      <div class="card__meta">
        <Date class="card__date" :loading="isLoading">{{ date }}</Date>
        <Upvotes class="card__upvotes" :loading="isLoading">{{ upvotes }}</Upvotes>
        <Comments class="card__comments" :loading="isLoading">{{ comments }}</Comments>
      </div>
      <div class="card__action">
        <Action @view="viewProduct" class="card__url" :loading="isLoading" :link="url">View product</Action>
      </div>
    </div>

  </div>
</template>

<script>
  import { debounce } from 'lodash'
  import { mapGetters } from 'vuex'
  import moment from 'moment'

  import Pic from '~/components/BodyCardPic'
  import Title from '~/components/BodyCardTitle'
  import Tagline from '~/components/BodyCardTagline'
  import Topics from '~/components/BodyCardTopics'
  import Date from '~/components/BodyCardDate'
  import Upvotes from '~/components/BodyCardUpvotes'
  import Action from '~/components/BodyCardAction'
  import Comments from '~/components/BodyCardComments'
  import Error from '~/components/BodyCardError'
  import Promoted from '~/components/BodyCardPromoted'
  import Badges from '~/components/BodyCardBadges'

  export default {
    components: {
      Pic, Title, Tagline, Topics, Date, Upvotes, Comments, Action, Promoted, Badges, Error,
    },
    props: {
      disabled: {
        default: false,
      },
      product: {
        default: null,
      },
      error: {
        type: Boolean,
        default: false,
      },
      errorType: {
        type: String,
        default: '',
      },
      position: {
        type: Number,
      },
    },
    data() {
      return {
        isImageLoaded: false,
      }
    },
    watch: {
      product(val) {
        this.isImageLoaded = false
      },
    },
    computed: {
      isLoading() {
        return !this.product
      },
      image() {
        return !this.product ? '' : this.product.Image
      },
      title() {
        return !this.product ? '' : this.product.Title
      },
      titleSize() {
        let size = 1
        if (this.title.length >= 25 && this.title.length <= 50) {
          size = 2
        } else if (this.title.length > 50 && this.title.length <= 70) {
          size = 3
        } else if (this.title.length > 70) {
          size = 4
        }
        return size
      },
      tagline() {
        return !this.product ? '' : this.product.Tagline.replace(/\'\'([a-zA-Z].+)\'\'/g, '"$1"')
      },
      taglineSize() {
        let size = 1
        if (this.titleSize == 3) {
          size = 2
        }
        return size
      },
      topics() {
        return !this.product ? [] : this.product.Topics
      },
      date() {
        return !this.product ? '' : moment(this.product.PublishedDay, 'YYYY-MM-DD').format('D MMM YYYY')
      },
      upvotes() {
        return !this.product ? '' : this.product.UpvotesCount
      },
      comments() {
        return !this.product ? '' : this.product.CommentsCount
      },
      url() {
        return !this.product ? '' : this.product.ProducthuntUrl
      },
      isPromoted() {
        return !this.product ? false : this.product.Promoted
      },
      badges() {
        return !this.product ? false : this.product.Badges
      },
    },
    methods: {
      onImageLoad() {
        this.isImageLoaded = true
      },
      viewProduct: debounce(function() {
        this.$goal('view_product')
        if (this.isPromoted) {
          this.$goal('view_promo_product')
        }
      }, 10),
    },
  }
</script>

<style lang="scss" scoped>
  .card {
    display: flex;
    flex-direction: column;
    user-select: none;

    @include media(mobile) {
      justify-content: space-between;
    }
  }

  .card__badges {

  }

  .card__error {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    z-index: 2;
    background: #fff;

    @include theme(dark) {
      background: linear-gradient(to bottom, #1C334A, #1A3146);
    }
  }

  .card__body {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 35px;
    height: 170px;

    @include media(mobile) {
      flex-direction: column;
      align-items: center;
      height: auto;
      padding: 35px 15px 65px;
    }
  }

  .card__promoted {
    position: absolute;
    right: 12px;
    top: 12px;
  }

  .card__image {
    flex: none;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 25px;

    @include media(mobile) {
      margin-right: 0;
      margin-top: -70px;
      margin-bottom: 5px;
      transition: opacity ease 1s;
    }

    .is-error & {
      opacity: 0;
    }
  }

  .card__main {
    width: 100%;
  }

  .card__title {
    margin-bottom: 8px;
    position: relative;
    min-height: 23px;

    @include media(mobile) {
      margin-top: 10px;
    }
  }

  .card__tagline {
    position: relative;
    min-height: 16px;
  }

  .card__topics {
    position: relative;
    margin-top: 13px;

    @include media(mobile) {
      margin: 13px -10px -10px;
    }
  }

  .card__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 19px 35px 20px;
    justify-content: space-between;
    border-radius: 0 0 8px 8px;
    background: #FCFDFF;
    border-top: 1px solid #F9FBFC;
    color: rgba(#667D96, 0.6);
    height: 56px;

    @include theme(dark) {
      color: #667D96;
      background: #182E43;
      border-color: transparent;
    }

    @include theme(red) {
      color: #9a8a8a;
      background: #fffdfd;
      border-color: #fbf7f7;
    }

    @include theme(green) {
      color: #8fa7a5;
      background: #fcffff;
      border-color: #f7fdfd;
    }

    .is-disabled & {
      opacity: 0;
    }

    @include media(mobile) {
      padding: 0;
      flex-direction: column;
      height: auto;
      position: relative;
    }
  }

  .card__meta {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 13px;
    letter-spacing: 0.2px;

    @include media(mobile) {
      padding: 15px 20px;
    }
  }

  .card__icon {
    margin-right: 7px;
    flex: none;
  }

  .card__date {
    width: 42%;

    @include media(mobile-nano) {
      width: 50%;
    }
  }

  .card__upvotes {
    width: 30%;
  }

  .card__comments {
    width: 25%;
  }

  .card__action {
    max-width: 120px;
    flex: none;

    @include media(mobile) {
      max-width: none;
      width: 100%;
      display: flex;
      position: absolute;
      top: -45px;
      justify-content: center;
    }
  }

  .card__totalcount {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: -60px;
    font-size: 11px;
    opacity: 0.3;
  }
</style>
