<template>
  <div class="cards">
    <div class="cards__list" :class="[`effect-${shuffleEffect}`]">
      <Card class="cards__item"
        v-for="(item, index) in cards"
        :key="`card.${index}`"
        :class="[`cards__item--${item.num}`, {'is-animated': isCardsMoving}]"
        :product="item.data"
        :position="item.num"
        :error="item.error"
        :error-type="item.errorType"
        v-touch:swipe.left="moveCards"
        v-touch:swipe.right="moveCards"
      />
      <div class="cards__item cards__item--3" :class="{'is-animated': isCardsMoving}"></div>
      <div class="cards__item cards__item--4" :class="{'is-animated': isCardsMoving}"></div>
    </div>
    <div class="cards__action">
      <Button
        type="shuffle"
        @click="moveCards"
        :disabled="isCardsMoving || isLoading || isRandomBlock"
      >
        <LogoIcon class="cards__action-logo" /> Shuffle
      </Button>
      <div class="cards__desc">or press the spacebar</div>
      <div class="cards__total" v-if="totalCount">{{ totalCount }}</div>
    </div>
  </div>
</template>

<script>
  import { mapState, mapGetters, mapActions } from 'vuex'
  import { debounce, random } from 'lodash'
  import Button from '~/components/UI/Button'
  import Card from '~/components/BodyCard'
  import LogoIcon from '~/components/HeaderLogoIcon'

  export default {
    components: {
      Card, Button, LogoIcon,
    },
    data() {
      return {
        isCardsMoving: false,
        cards: [
          {
            num: 1,
            error: false,
            data: null,
          },
          {
            num: 2,
            error: false,
            data: null,
          }
        ],
        shuffleEffect: 0,
      }
    },
    computed: {
      ...mapState({
        isLoading: state => state.product.isLoading,
        isRandomBlock: state => state.isRandomBlock,
        product: state => state.product.item,
        totalCount: state => state.totalCount,
      }),
      ...mapGetters({
        theme: 'themes/current',
      }),
    },
    mounted() {
      this.$nextTick(() => {
        this.load()
      })
      this.$keyboard.bind('space', debounce(() => {
        this.moveCards()
      }, 100))
    },
    methods: {
      ...mapActions({
        getPost: 'product/random',
        pushToHistory: 'history/push',
        pushToPromo: 'history/pushToPromo',
        resetPromo: 'history/resetPromo',
        blockShuffling: 'blockShuffling',
        setProductsTotalCount: 'setProductsTotalCount',
      }),
      load: debounce(function() {
        this.resetErrorCards()
        this.getPost().then(() => {
          this.setCard()
          this.pushToHistory(this.product)
          if (this.product.Promoted) {
            this.pushToPromo(this.product)
          }
          if (this.product._ResetPromo) {
            this.resetPromo()
          }
          if (this.product._Count) {
            this.setProductsTotalCount(this.product._Count)
          }
        }).catch(type => {
          this.setErrorCard(type)
        })
      }, 10),
      moveCards: debounce(function() {
        this.generateShuffleEffect()
        if (this.isCardsMoving) {
          return
        }
        if (this.isRandomBlock) {
          return
        }
        this.isCardsMoving = true
        this.blockShuffling(true)
        this.load()
      }, 50),
      setCard() {
        this.all()
        let card = this.cards.find(item => item.num === 1)
        card.data = this.product
      },
      setErrorCard(type) {
        this.all()
        this.cards.forEach((item) => {
          item.error = true
          item.errorType = type
        })
      },
      all() {
        this.cards.forEach((item) => {
          let next = item.num - 1
          if (next == 0) {
            next = this.cards.length
          }
          item.num = next
        })
        this.resetCard()
        this.isCardsMoving = false
        setTimeout(() => {
          this.blockShuffling(false)
        }, 350)
      },
      resetCard() {
        let card = this.cards.find(item => item.num === 2)
        card.data = null
      },
      generateShuffleEffect() {
        this.shuffleEffect = random(0, 4)
      },
      resetErrorCards() {
        this.cards.forEach((item) => {
          item.error = false
          item.errorType = ''
        })
      }
    }
  }
</script>

<style lang="scss" scoped>
  .cards {
    margin-bottom: -50px;

    @media screen and (max-height: 560px) {
      margin-top: 30px;
    }

    @include media(mobile) {
      padding: 0 30px;
      margin-bottom: 0;
      min-height: 420px;
    }
  }

  .cards__action {
    margin-top: 120px;
    text-align: center;

    @include media(mobile) {
      margin-top: 60px;
      position: absolute;
      bottom: 90px;
      left: 50%;
      transform: translateX(-50%);
    }

    @include media(tablet-landscape) {
      margin: 80px 0 20px;
    }

    @media screen and (max-height: 560px) {
      margin: 80px 0 60px;
    }
  }

  .cards__desc {
    margin-top: 8px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 11px;
    text-align: center;
    user-select: none;
    color: rgba(#fff, 0.15);

    @include theme(light) {
      color: rgba(#94A8B4, 0.7);
    }

    @include theme(red, green, blue) {
      color: rgba(#fff, 0.25);
    }

    @include media(tablet-landscape) {
      display: none;
    }
  }

  .cards__total {
    font-size: 10px;
    margin-top: 10px;
    opacity: 0.15;
    display: none;
  }

  .cards__list {
    position: relative;
  }

  .cards__action-logo {
    width: 20px;
    height: 13px;
    position: relative;
    top: 1px;
    margin: 0px 0px 0 -5px;
  }

  .cards__item {
    width: 530px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    background: #fff;
    box-shadow: 0 10px 20px rgba(#457798, 0.07);

    @include theme(dark) {
      background: linear-gradient(to bottom, #1C334A, #1A3146);
      box-shadow: none;
    }

    @include media(mobile) {
      width: 100%;
    }

    &--1 {
      position: relative;
      z-index: 3;

      &.is-animated {
        opacity: 0;
        visibility: hidden;
        transition: all 0.9s cubic-bezier(0.19, 1, 0.22, 1);

        .effect-0 & {
          bottom: 45px;
          transform: perspective(1000px) rotateX(45deg);
          transform-origin: top center;
        }

        .effect-1 & {
          bottom: -45px;
          transform: perspective(1200px) rotateX(-15deg);
          transform-origin: top center;
        }

        .effect-2 & {
          bottom: -45px;
          transform: rotate(-2deg) scale(1.05);
        }

        .effect-3 & {
          bottom: 45px;
          transform: rotate(2deg) scale(1.05);
        }

        .effect-4 & {
          bottom: -45px;
          transform: perspective(1000px) rotateX(15deg) rotateY(10deg);
          transform-origin: top center;
        }
      }
    }

    &--2 {
      position: absolute;
      z-index: 2;
      bottom: -20px;
      height: 100%;
      transform: scale(0.94);
      z-index: 2;
      background: #fff;
      box-shadow: 0 10px 20px rgba(#457798, 0.07);
      opacity: 0.6;

      @include theme(dark) {
        opacity: 0.6;
        background: #182D41;
      }

      &.is-animated {
        background: #fff;
        opacity: 1;
        bottom: 0;
        transform: scale(1);
        transition: all ease 0.6s;
        height: 226px;

        @include theme(dark) {
          background: linear-gradient(to bottom, #1C334A, #1A3146);
        }

        @media screen and (max-width: 500px) {
          height: auto;
        }
      }
    }

    &--3 {
      bottom: -40px;
      height: 100%;
      transform: scale(0.88);
      z-index: 1;
      background: #fff;
      box-shadow: 0 10px 20px rgba(#457798, 0.07);
      opacity: 0.5;
      height: 226px;

      @include theme(dark) {
        opacity: 0.5;
        background: #182D41;
      }

      &.is-animated {
        opacity: 0.6;
        bottom: -20px;
        transform: scale(0.94);
        transition: all ease 0.6s;
        transition-delay: 0.1s;
      }

      @media screen and (max-width: 500px) {
        height: 250px;
      }
    }

    &--4 {
      bottom: -60px;
      height: 100%;
      opacity: 0;
      transform: scale(0.82);
      z-index: 0;
      background: #fff;
      box-shadow: 0 10px 20px rgba(#457798, 0.07);
      height: 226px;

      @include theme(dark) {
        background: #182D41;
      }

      &.is-animated {
        opacity: 0.5;
        bottom: -40px;
        transform: scale(0.88);
        transition: all ease 0.6s;
        transition-delay: 0.25s;
      }

      @media screen and (max-width: 500px) {
        height: 250px;
      }
    }
  }
</style>
