<template>
  <div class="title" :class="[{'is-loading': loading}, `size-${size}`]">
    <Placeholder class="title__placeholder" v-if="loading" width="60" />
    <div class="title__data">
      <slot></slot>
    </div>
  </div>
</template>

<script>
  import Placeholder from '~/components/BodyCardPlaceholder'

  export default {
    components: {
      Placeholder,
    },
    props: {
      loading: {
        type: Boolean,
        default: false,
      },
      size: {
        type: [Number, String],
        default: 1,
      },
    }
  }
</script>

<style lang="scss" scoped>
  .title {
    position: relative;
    font-size: 24px;
    line-height: 23px;
    font-weight: bold;
    color: #3E396B;

    &.size-2 {
      font-size: 21px;
      line-height: 20px;
    }

    &.size-3 {
      font-size: 18px;
      line-height: 19px;
    }

    &.size-4 {
      font-size: 17px;
      line-height: 18px;
    }

    @include theme(dark) {
      color: #fff;
    }

    @include theme(green) {
      color: #26615e;
    }

    @include theme(red) {
      color: #501f1f;
    }

    @include media(mobile) {
      font-size: 22px !important;
      line-height: 22px !important;
      text-align: center;
    }
  }

  .title__placeholder {
    height: 22px;

    @include media(mobile) {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .title__data {

    .is-loading & {
      display: none;
    }
  }
</style>
