<template>
  <div class="upvotes" :class="{'is-loading': loading}">
    <IconUpvote class="upvotes__icon" />
    <div class="upvotes__data">
      <Placeholder class="upvotes__placeholder" v-if="loading" width="50" />
      <div class="upvotes__text">
        <slot></slot>
      </div>
    </div>
  </div>
</template>

<script>
  import { IconUpvote } from '~/components/Icons'
  import Placeholder from '~/components/BodyCardPlaceholder'

  export default {
    components: {
      Placeholder, IconUpvote,
    },
    props: {
      loading: {
        type: Boolean,
        default: false,
      },
    },
  }
</script>

<style lang="scss" scoped>
  .upvotes {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;

    @include media(mobile) {
      justify-content: center;
    }
  }

  .upvotes__icon {
    margin-right: 7px;
    flex: none;
    transition: all ease 0.3s;

    .is-loading & {
      opacity: 0.3;
    }
  }

  .upvotes__data {
    line-height: 1;

    .is-loading & {

      @include media(mobile) {
        width: 40px;
      }
    }
  }

  .upvotes__placeholder {
    top: 0;
    height: 15px;
    margin-left: 2px;
  }

  .upvotes__text {

    .is-loading & {
      opacity: 0;
    }
  }
</style>
