<template>
  <div class="tagline" :class="[{'is-loading': loading}, `size-${size}`]">
    <Placeholder class="tagline__placeholder" v-if="loading" width="80" />
    <div class="tagline__data">
      <slot></slot>
    </div>
  </div>
</template>

<script>
  import Placeholder from '~/components/BodyCardPlaceholder'

  export default {
    components: {
      Placeholder,
    },
    props: {
      loading: {
        type: Boolean,
        default: false,
      },
      size: {
        type: [Number, String],
        default: 1,
      },
    },
  }
</script>

<style lang="scss" scoped>
  .tagline {
    position: relative;
    font-size: 15px;
    line-height: 17px;
    color: rgba(#54679D, 0.5);

    &.size-2 {
      font-size: 14px;
      line-height: 15px;
    }

    @include theme(dark) {
      color: #687F98;
    }

    @include theme(red) {
      color: rgba(#665a77, 0.5);
    }

    @include theme(green) {
      color: rgba(#35524d, 0.5);
    }

    @include media(mobile) {
      font-size: 13px;
      line-height: 15px;
      text-align: center;
    }
  }

  .tagline__placeholder {
    height: 14px;
    margin-top: 3px;

    @include media(mobile) {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .tagline__data {

    .is-loading & {
      display: none;
    }
  }
</style>

