<template>
  <div class="confetti" v-if="message" v-html="message"></div>
</template>

<script>
  import { mapGetters } from 'vuex'

  export default {
    destroyed() {
      this.$confetti.stop()
    },
    computed: {
      ...mapGetters({
        message: 'confetti/message',
      }),
    },
    mounted() {
      this.$goal('show_confetti')
      this.renderConfetti()
    },
    methods: {
      renderConfetti() {
        this.$confetti.start({
          particles: [
            {
              type: 'image',
              url: 'https://shufflehunt.com/confetti/daily-star-bronze.svg'
            },
            {
              type: 'image',
              url: 'https://shufflehunt.com/confetti/daily-star.svg'
            },
            {
              type: 'image',
              url: 'https://shufflehunt.com/confetti/product-hunt-logo.svg'
            },
          ],
          defaultDropRate: 30,
          particlesPerFrame: 1,
          defaultSize: 10,
        })
      }
    },
  }
</script>

<style lang="scss">
  .confetti {
    padding: 30px 50px;
    position: fixed;
    border-radius: 7px;
    overflow: hidden;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
    z-index: 10000;
    animation: show 1s forwards;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;

    @include theme(dark) {
      color: #c9d7e4;
      background-image: linear-gradient(to bottom, rgba(#1C334A, 0.95), rgba(#182E43, 0.95));
      box-shadow: 0 10px 40px rgba(#000, 0.25);
    }

    @include theme(light, blue) {
      background: #fff;
      color: rgba($blue-text-color, 0.8);
      box-shadow: 0 10px 20px rgba(#2b526b, 0.075);
    }

    @include theme(green) {
      background: #fff;
      color: rgba($green-text-color, 0.8);
      box-shadow: 0 10px 20px rgba($green-text-color, 0.1);
    }

    @include theme(red) {
      background: #fff;
      color: rgba($red-text-color, 0.8);
      box-shadow: 0 10px 20px rgba($red-text-color, 0.1);
    }

    @media screen and (max-height: 700px) {
      top: 0;
    }

    @include media(mobile) {
      width: 90%;
      padding: 30px 60px;
      text-align: center;
    }

    &::before {
      content: "";
      @include image("confetti-left.png");
      width: 34px;
      height: 73px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
    }

    &::after {
      content: "";
      @include image("confetti-right.png");
      position: absolute;
      right: -1px;
      bottom: -1px;
      width: 38px;
      height: 60px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      z-index: -1;
    }

    strong {
      font-weight: 900;

      @include theme(dark) {
        color: #fff;
      }

      @include theme(light, blue) {
        color: $blue-text-color;
      }

      @include theme(red) {
        color: $red-text-color;
      }

      @include theme(green) {
        color: $green-text-color;
      }
    }
  }
</style>

<style>
  #confetti-canvas {
    z-index: 1;
  }

  @keyframes show {
    from {
      margin-top: 0;
    }
    to {
      margin-top: 70px;
    }
  }
</style>
