<template>
  <PopoverLink code="presets" align="center-left" subtitle="Filter's presets collection" :width="400">
    <template v-slot:icon>
      <IconPresets class="presets__icon" v-tooltip="`Filter's presets`"/>
    </template>
    <div class="presets">
      <div class="presets__list">
        <div class="presets__item" v-for="(preset, index) in presets" :key="`preset.${index}`" @click="setPreset(preset.data)">
          <span class="presets__image">{{ preset.image }}</span>
          <span class="presets__text">{{ preset.title }}</span>
        </div>
      </div>
    </div>
  </PopoverLink>
</template>

<script>
  import { mapState, mapGetters, mapActions } from 'vuex'
  import PopoverLink from '~/components/UI/PopoverLink'
  import IconPresets from '~/components/Icons/IconPresets'

  export default {
    components: {
      PopoverLink, IconPresets,
    },
    data() {
      return {
        presets: [
          {
            title: 'Best of the best',
            image: '⭐️',
            data: {
              upvotes: 900,
              badges: 'any',
            }
          },
          {
            title: 'Most voted',
            image: '👍🏼',
            data: {
              upvotes: 500,
            }
          },
          {
            title: 'Products of the day',
            image: '📆',
            data: {
              badges: 'daily',
            }
          },
          {
            title: 'Best of last year',
            image: '📰',
            data: {
              badges: 'any',
              dates: 'year',
            }
          },
          {
            title: 'Fresh newbies',
            image: '🆕',
            data: {
              upvotes: 100,
              dates: 'week',
            }
          },
          {
            title: 'Best for designers',
            image: '🎨',
            data: {
              upvotes: 100,
              badges: 'any',
              topics: [
                271, 44, 122, 134, 214
              ],
            }
          },
          {
            title: 'Browser extensions',
            image: '🧩',
            data: {
              topics: [
                34, 15, 16
              ],
            }
          },
          {
            title: 'Cool games',
            image: '🎰',
            data: {
              upvotes: 100,
              topics: [
                353, 146, 152, 144, 145, 147, 161, 156, 141, 149, 168, 166
              ],
            }
          },
          {
            title: 'E-commerce apps',
            image: '🛒',
            data: {
              topics: [278, 21],
              contains: 'all',
            }
          },
          {
            title: 'Music web apps',
            image: '🎹',
            data: {
              topics: [21, 57],
              contains: 'all',
            }
          },
          {
            title: 'Mobile photo apps',
            image: '📷',
            data: {
              topics: [2, 8, 251],
              contains: 'all',
            }
          },
          {
            title: "Let's fun",
            image: '😀',
            data: {
              topics: [
                42, 160, 159
              ],
            }
          },
        ],
      }
    },
    methods: {
      ...mapActions({
        setFilterByData: 'filter/setFilterByData',
      }),
      setPreset(data) {
        this.$goal('filter_preset_usage')
        this.setFilterByData(data)
        this.$children[0].hidePopover()
      },
    },
  }
</script>

<style lang="scss" scoped>
  .presets {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.3px;
  }

  .presets__icon {
    outline: none;

    @include media(mobile) {
      width: 24px !important;
      height: 24px !important;
    }
  }

  .presets__list {
    margin: -10px;
    margin-top: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    @include media(mobile) {
      margin: 0 auto;
      width: 80%;
    }
  }

  .presets__item {
    width: 49%;
    padding: 9px 5px 9px 12px;
    margin: 4px 0;
    border-radius: 5px;
    transition: all ease 0.3s;
    display: flex;
    flex-direction: row;
    align-items: center;

    @include media(mobile) {
      width: 100%;
      justify-content: center;
      font-size: 16px;
      margin-bottom: 5px;
    }

    &:hover {
      cursor: pointer;

      @include theme(dark) {
        background: rgba(#000, 0.1);
      }

      @include theme(light, blue) {
        background: #f8f9fd;
      }

      @include theme(green) {
        background: #f3f9f8;
      }

      @include theme(red) {
        background: #fbf9f9;
      }
    }
  }

  .presets__image {
    font-size: 16px;
    line-height: 1;
    margin-right: 3px;
  }

  .presets__text {

  }
</style>
