<template>
  <div class="select" v-click-outside="close" :class="{'is-opened': isOptionsOpened}">
    <div class="select__body" @click="toggle">{{ label }}</div>
    <div class="select__options">
      <div class="select__option" v-for="(item, index) in options" :key="`option.${index}`" @click="set(item.value)">
        {{ item.label }}
      </div>
    </div>
  </div>
</template>

<script>
  import ClickOutside from 'vue-click-outside'

  export default {
    props: {
      options: {
        type: Array,
        default: [],
      },
      value: {
        type: String,
        default: '',
      },
    },
    directives: {
      ClickOutside,
    },
    data() {
      return {
        isOptionsOpened: false,
      }
    },
    computed: {
      label() {
        let value = this.value
        let option = this.options.find(item => item.value == value)
        return option.label
      },
    },
    methods: {
      set(value) {
        this.$emit('input', value)
        this.close()
      },
      open() {
        this.isOptionsOpened = true
      },
      toggle() {
        this.isOptionsOpened = !this.isOptionsOpened
      },
      close() {
        this.isOptionsOpened = false
      },
    }
  }
</script>

<style lang="scss" scoped>
  .select {
    position: relative;
    z-index: 10;
    width: 100%;
  }

  .select__body {
    width: 100%;
    color: #fff;
    text-transform: uppercase;
    padding: 5px 10px;
    border-radius: 2px;
    outline: none;
    font-size: 11px;
    border: 2px solid #27405a;
    background: rgba(#183148, 0.6);
    cursor: pointer;
    transition: all ease 0.3s;

    .is-opened &, &:hover {
      background: rgba(#183148, 0.9);
    }
  }

  .select__options {
    position: absolute;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all ease 0.3s;
    transform-origin: top center;
    transform: perspective(300px) rotateX(-20deg) translateY(10px);
    margin-top: 5px;
    border-radius: 3px;
    overflow: hidden;

    .is-opened & {
      opacity: 1;
      visibility: visible;
      transform: perspective(300px) rotateX(0);
    }
  }

  .select__option {
    background: #172f46;
    width: 100%;
    padding: 8px 10px;
    border-bottom: 1px solid #183148;

    &:hover {
      background: #183148;
    }
  }
</style>
