<template>
  <div class="switch" :class="[`count-${values.length}`]">
    <div class="switch__option" v-for="(item, index) in values" :key="`switcher.${index}`" @click="set(item.value)" :class="{'is-active': value == item.value}">
      {{ item.label }}
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      options: {
        type: Array,
        default: [],
      },
      value: {
        type: String,
        default: '',
      },
    },
    computed: {
      values() {
        let result = []
        this.options.forEach((item) => {
          if (typeof item == 'object') {
            result.push(item)
          } else {
            result.push({
              label: item,
              value: item,
            })
          }
        })
        return result
      },
    },
    methods: {
      set(value) {
        this.$emit('input', value)
      },
    },
  }
</script>

<style lang="scss" scoped>
  .switch {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .switch__option {
    text-align: center;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all ease 0.3s;

    @include theme(dark) {
      border: 2px solid #274159;
      color: #466581;

      &:hover {
        color: #fff;
        border-color: #466581;
      }
    }

    @include theme(light) {
      color: #567088;
      border: 2px solid #a3b7ca;

      &:hover {
        color: $light-active-color;
        border-color: $light-active-color;
      }
    }

    @include theme(blue) {
      color: #567088;
      border: 2px solid #a3b7ca;

      &:hover {
        color: $blue-active-color;
        border-color: $blue-active-color;
      }
    }

    @include theme(red) {
      color: #88484e;
      border: 2px solid #ccb7b9;

      &:hover {
        color: $red-active-color;
        border-color: $red-active-color;
      }
    }

    @include theme(green) {
      color: #618680;
      border: 2px solid #b7cbcc;

      &:hover {
        color: $green-active-color;
        border-color: $green-active-color;
      }
    }

    &.is-active {
      color: #fff !important;
      cursor: default;

      @include theme(dark) {
        background: $rose-color;
        border-color: $rose-color;
      }

      @include theme(light) {
        background: $light-active-color;
        border-color: $light-active-color;
      }

      @include theme(green) {
        background: $green-active-color;
        border-color: $green-active-color;
      }

      @include theme(blue) {
        background: $blue-active-color;
        border-color: $blue-active-color;
      }

      @include theme(red) {
        background: $red-active-color;
        border-color: $red-active-color;
      }
    }

    &:first-child {
      border-radius: 3px 0 0 3px;
      border-right-width: 0;
    }

    &:last-child {
      border-left-width: 0;
      border-radius: 0 3px 3px 0;
    }

    .count-2 & {
      width: 50%;
    }

    .count-3 & {
      width: 33.333%;
    }

    .count-4 & {
      width: 25%;
    }
  }
</style>
