<template>
  <Widget type="actions">
    <div class="actions">
      <div class="actions__section actions__section--additional">
        <Presets class="actions__presets"/>
        <Action class="actions__randomize" @click="randomize" v-tooltip="'Randomize filters'">
          <template v-slot:icon>
            <IconRandom class="actions__randomize-icon" />
          </template>
        </Action>
        <transition name="fade">
          <Action class="actions__export" v-if="isHasFilters" @click="copy" v-tooltip="'Copy current filter'">
            <template v-slot:icon>
              <IconExport class="actions__export-icon" />
            </template>
          </Action>
        </transition>
      </div>
      <div class="actions__section actions__section--primary">
        <Button class="actions__button" type="secondary" outline :disabled="!isHasFilters" @click="resetAll">Reset all</Button>
        <Button class="actions__button" type="primary" @click="closeFilter">
          {{ isHasFilters ? 'Apply' : 'Close' }}
        </Button>
      </div>
    </div>
  </Widget>
</template>

<script>
  import { mapState, mapGetters, mapActions } from 'vuex'
  import { IconExport, IconRandom } from '~/components/Icons'
  import Button from '~/components/UI/Button'
  import Widget from '~/components/FilterElementWidget'
  import Presets from '~/components/FilterPresets'
  import Action from '~/components/UI/Link'

  export default {
    components: {
      Button, Widget, Presets, Action, IconExport, IconRandom,
    },
    computed: {
      ...mapGetters({
        isHasFilters: 'filter/any',
        shareFilter: 'filter/share',
      })
    },
    methods: {
       ...mapActions({
        closeFilter: 'closeFilter',
        resetAll: 'filter/resetAll',
        randomize: 'filter/setRandomFilters',
        alert: 'notifications/show',
      }),
      copy() {
        this.$goal('sharing_usage')
        this.$copyText(this.shareFilter).then(() => {
          this.alert(`Link to current filter was copied`)
        })
      },
    }
  }
</script>

<style lang="scss" scoped>
  .actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @include media(mobile) {
      flex-direction: column;
    }
  }

  .actions__section {
    flex: none;

    &--additional {
      display: flex;
      align-items: center;

      @include media(mobile) {
        margin-bottom: 30px;
      }

      div {
        margin-right: 20px;

        @include media(mobile) {
          margin: 0 20px;
        }
      }

      & /deep/ .link {

        @include theme(green) {
          color: rgba($green-title-color, 0.4);

          &:hover {
            color: rgba($green-title-color, 1);
          }
        }

        @include theme(blue) {
          color: rgba($blue-title-color, 0.4);

          &:hover {
            color: rgba($blue-title-color, 1);
          }
        }

        @include theme(red) {
          color: rgba($red-title-color, 0.4);

          &:hover {
            color: rgba($red-title-color, 1);
          }
        }
      }
    }

    &--primary {

      @include media(mobile) {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .actions__button {
    min-width: 150px;
    margin-left: 20px;

    @include media(laptop) {
      min-width: 130px;
    }

    @include media(mobile) {
      margin: 0 8px;
    }
  }

  .actions__randomize {

    &-icon {

      @include media(mobile) {
        width: 25px !important;
        height: 25px !important;
      }
    }
  }

  .actions__export {

    @include media(mobile) {
      display: none;
    }

    &-icon {
      margin-top: -2px;
    }
  }
</style>
