<template>
  <div class="item">
    <slot></slot>
  </div>
</template>

<script>
  export default {

  }
</script>

<style lang="scss" scoped>
  .item {
    padding: 5px 10px;
    text-align: center;
    background: transparent;
    border-radius: 3px;
    font-weight: bold;
    margin: 5px;
    width: 17%;
    transition: all ease 0.3s;
    cursor: pointer;
    user-select: none;

    @include theme(dark) {
      color: #466581;
      border: 2px solid #284159;

      &:hover {
        color: $dark-title-color;
        border-color: #466581;
      }
    }

    @include theme(light) {
      color: #567088;
      border: 2px solid #a3b7ca;

      &:hover {
        color: $light-active-color;
        border-color: $light-active-color;
      }
    }

    @include theme(blue) {
      color: #567088;
      border: 2px solid #a3b7ca;

      &:hover {
        color: $blue-active-color;
        border-color: $blue-active-color;
      }
    }

    @include theme(red) {
      color: #88484e;
      border: 2px solid #ccb7b9;

      &:hover {
        color: $red-active-color;
        border-color: $red-active-color;
      }
    }

    @include theme(green) {
      color: #618680;
      border: 2px solid #b7cbcc;

      &:hover {
        color: $green-active-color;
        border-color: $green-active-color;
      }
    }

    &.is-active {
      color: #fff !important;
      cursor: default;

      @include theme(dark) {
        background: $rose-color;
        border-color: $rose-color;
      }

      @include theme(light) {
        background: $light-active-color;
        border-color: $light-active-color;
      }

      @include theme(green) {
        background: $green-active-color;
        border-color: $green-active-color;
      }

      @include theme(blue) {
        background: $blue-active-color;
        border-color: $blue-active-color;
      }

      @include theme(red) {
        background: $red-active-color;
        border-color: $red-active-color;
      }
    }
  }
</style>
