<template>
  <Widget
    class="topics"
    type="topics"
    title="Select topics"
    @reset="reset"
    :selected="!!selected ? selected.length : false"
    :show-reset="!!selected"
  >

    <div class="topics__search">
      <IconSearch class="topics__search-icon" />
      <input class="topics__search-input" type="search" :value="searchQuery" @input="setSearchQuery" placeholder="Search for topics" />
    </div>

    <slide-up-down class="slide-up-down" :active="isSelectedExists" :duration="300">
      <TopicsState class="topics__state" v-if="isSelectedExists"/>
    </slide-up-down>

    <template v-if="filteredTopics.length > 0">
      <ul class="topics__list">
        <li class="topics__item" v-for="(topic, index) in filteredTopics" :key="`topic.${index}`" @click="toggleSelect(topic)" :class="{'is-selected': isTopicSelected(topic)}">
          <div class="topics__info">
            <div class="topics__image">
              <img :src="topic.Image" />
            </div>
            <div class="topics__title">{{ topic.Title }}</div>
          </div>
          <div class="topics__check">
            <IconCheck />
          </div>
        </li>
        <li class="topics__more" v-if="isShowMore">
          <Button type="secondary" outline @click="showMore">Show more</Button>
        </li>
      </ul>
    </template>

    <template v-else>
      <div class="topics__empty">There are no topics matched with "{{ searchQuery }}"</div>
    </template>

  </Widget>
</template>

<script>
  import { mapState, mapGetters, mapActions } from 'vuex'
  import { IconSearch, IconCheck } from '~/components/Icons'
  import SlideUpDown from 'vue-slide-up-down'
  import Button from '~/components/UI/Button'
  import Widget from '~/components/FilterElementWidget'
  import TopicsState from '~/components/FilterTopicsState'

  export default {
    components: {
      Widget, Button, TopicsState, SlideUpDown, IconSearch, IconCheck,
    },
    data() {
      return {
        selectedLimit: 20,
        perPage: 36,
        page: 1,
      }
    },
    computed: {
      ...mapGetters({
        topics: 'topics/list',
        searchQuery: 'topics/query',
        selected: 'filter/topics',
      }),
      isSelectedExists() {
        return !!this.selected
      },
      isShowMore() {
        return this.searchQuery.length == 0 && this.viewCount < this.topics.length
      },
      viewCount() {
        return this.page * this.perPage
      },
      filteredTopics() {
        if (this.searchQuery.length) {
          return this.topics.filter((item) => {
            return item.Title.toLowerCase().includes(this.searchQuery.toLowerCase())
          })
        } else {
          return this.topics.slice(0, this.viewCount);
        }
      },
      isLimitIncreased() {
        if (this.isSelectedExists) {
          if (this.selected.length == this.selectedLimit) {
            return true
          }
        }
        return false
      },
    },
    methods: {
      ...mapActions({
        selectTopic: 'filter/selectTopic',
        unSelectTopic: 'filter/unSelectTopic',
        resetTopics: 'filter/resetTopics',
        setTopicsSearchQuery: 'topics/setSearchQuery',
        alert: 'notifications/show',
      }),
      isTopicSelected(topic) {
        if (this.isSelectedExists) {
          return this.selected.indexOf(topic.Id) !== -1
        } else {
          return false
        }
      },
      toggleSelect(topic) {
        if (this.isTopicSelected(topic)) {
          return this.unSelectTopic(topic.Id)
        } else {
          if (this.isLimitIncreased) {
            this.alert(`20 topics maximum`)
          } else {
            this.selectTopic(topic.Id)
          }
        }
      },
      reset() {
        this.setTopicsSearchQuery('')
        this.resetTopics()
      },
      showMore() {
        this.page++
      },
      setSearchQuery(event) {
        this.setTopicsSearchQuery(event.target.value)
      },
    }
  }
</script>

<style lang="scss" scoped>
  .topics {

  }

  .topics__state {

  }

  .topics__search {
    margin-top: -49px;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 40px;
    max-width: 300px;
    position: relative;

    @include media(laptop) {
      margin-top: 25px;
      margin-top: 30px;
    }

    @include media(tablet-portrait-plus) {
      width: 100%;
      margin: 0 auto 40px;
      transform: none;
      max-width: 400px;
    }

    &-icon {
      color: #BFCCD6;
      position: absolute;
      top: 50%;
      transform: translateY(-55%);
      left: 10px;

      @include theme(red) {

      }
    }

    &-input {
      -webkit-appearance: textfield;
      border: none;
      height: 34px;
      background: #fff;
      border-radius: 3px !important;
      padding: 0 15px;
      padding-left: 30px;
      font-size: 11px;
      text-transform: uppercase;
      letter-spacing: 0.8px;
      width: 100%;
      border: 1px solid #f3f3f3;
      transition: all ease 0.3s;

      &::placeholder {
        color: #BFCCD6 !important;
      }

      @include media(tablet-portrait) {
        -webkit-appearance: none;
      }

      @include theme(dark) {
        border: none !important;
      }
    }
  }

  .topics__list {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
  }

  .topics__empty {
    text-align: center;
    text-transform: uppercase;
    padding-top: 15px;
    font-size: 13px;
    letter-spacing: 0.5px;
    color: #BFCCD6;
  }

  .topics__more {
    text-align: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .topics__item {
    width: 30.8%;
    height: 67px;
    margin: 10px;
    color: #fff;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 3px;
    transition: all ease 0.3s;
    cursor: pointer;
    font-weight: 500;

    @include media(laptop) {
      width: 46%;
      padding: 10px;
    }

    @include media(tablet-portrait-plus) {
      width: 47%;
    }

    @include media(mobile) {
      width: 100%;
    }

    @include theme(light, blue) {
      background: rgba(#f5f7f9, 0.65);
      color: #3e396b;

      &:hover {
        background: darken(#f5f7f9, 2%);
      }
    }

    @include theme(dark) {
      background: rgba(#1C344B, 0.15);
      color: #CBDFF3;

      &:hover {
        background: rgba(#1C344B, 0.5);
      }
    }

    @include theme(red) {
      background: #fbf9f9;
      color: #3e396b;

      &:hover {
        background: darken(#fbf9f9, 2%);
      }
    }

    @include theme(green) {
      background: #f3f7f5;
      color: #618680;

      &:hover {
        background: darken(#f3f7f5, 2%);
      }
    }

    &.is-selected {
      color: #fff;
      background: $rose-color !important;

      @include theme(green) {
        background: $green-active-color !important;
      }

      @include theme(light) {
        background: $light-active-color !important;
      }

      @include theme(blue) {
        background: $blue-active-color !important;
      }

      @include theme(red) {
        background: $red-active-color !important;
      }
    }
  }

  .topics__info {
    display: flex;
    align-items: center;
  }

  .topics__image {
    width: 38px;
    height: 38px;
    flex: none;
    border-radius: 3px;
    overflow: hidden;
    margin-right: 15px;

    img {
      max-width: 100%;
    }
  }

  .topics__title {
    text-transform: uppercase;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 1.2px;
    user-select: none;

    @include theme(red) {
      color: $red-title-color;
    }

    @include theme(green) {
      color: $green-title-color;
    }

    @include media(laptop) {
      font-size: 12px;
      letter-spacing: 0.8px;
      line-height: 14px;
    }

    .is-selected & {
      color: #fff;
    }

    sup {
      opacity: 0.15;
    }
  }

  .topics__check {
    width: 20px;
    height: 20px;
    flex: none;
    border-radius: 100px;
    border: 2px solid;
    margin-left: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease 0.3s;

    @include theme(dark) {
      color: #182D43;
    }

    @include theme(green) {
      color: #dce6e5;
    }

    @include theme(red) {
      color: #e0d7d8;
    }

    @include theme(light, blue) {
      color: #dae3e6;
    }

    @include media(laptop) {
      margin: 0;
    }

    .is-selected & {
      border-color: transparent;
      color: #fff;
      background: rgba(#fff, 0.1);
    }
  }

  .slide-up-down {

    @include media(tablet-portrait-plus) {
      height: auto !important;
    }
  }
</style>
