<template>
  <Widget
    class="upvotes"
    type="upvotes"
    title="Set upvotes"
    @reset="reset"
    :selected="activeUpvote ? activeUpvote.title : false"
    :show-reset="!!activeUpvote"
  >
    <div class="upvotes__list">
      <Radio class="upvotes__item" v-for="(item, index) in items" :key="`upvote.${index}`" @click.native="set(item)" :class="{'is-active': item.selected}">{{ item.title }}</Radio>
    </div>
  </Widget>
</template>

<script>
  import { mapState, mapGetters, mapActions } from 'vuex'
  import Widget from '~/components/FilterElementWidget'
  import Radio from '~/components/FilterElementRadio'

  export default {
    components: {
      Widget, Radio,
    },
    computed: {
      ...mapGetters({
        items: 'upvotes/list',
        activeUpvote: 'upvotes/active',
      }),
    },
    methods: {
      ...mapActions({
        setUpvotes: 'filter/setUpvotes',
        resetUpvotes: 'filter/resetUpvotes',
      }),
      set(item) {
        this.setUpvotes(item)
      },
      reset() {
        this.resetUpvotes()
      },
    }
  }
</script>

<style lang="scss" scoped>
  .upvotes {

  }

  .upvotes__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -5px;

    @include media(large) {
      justify-content: flex-start;
    }
  }

  .upvotes__item {

    @include media(mobile) {
      width: 46% !important;
      padding: 9px;
      border-radius: 5px;
    }
  }
</style>
