<template>
  <Widget
    class="badges"
    type="badges"
    title="Set badges"
    @reset="reset"
    :selected="activeBadge ? activeBadge.title : false"
    :show-reset="!!activeBadge"
  >
    <div class="badges__list">
      <Radio class="badges__item" v-for="(item, index) in items" :key="`badge.${index}`" @click.native="set(item)" :class="{'is-active': item.selected}">
        {{ item.title }}
      </Radio>
    </div>
  </Widget>
</template>

<script>
  import { mapState, mapGetters, mapActions } from 'vuex'
  import Widget from '~/components/FilterElementWidget'
  import Radio from '~/components/FilterElementRadio'

  export default {
    components: {
      Widget, Radio,
    },
    computed: {
      ...mapGetters({
        items: 'badges/list',
        activeBadge: 'badges/active',
      }),
    },
    methods: {
      ...mapActions({
        setBadges: 'filter/setBadges',
        resetBadges: 'filter/resetBadges',
      }),
      set(item) {
        this.setBadges(item)
      },
      reset() {
        this.resetBadges()
      },
    },
  }
</script>

<style lang="scss" scoped>
  .badges {

  }

  .badges__list {
    display: flex;
    margin: -5px;
    justify-content: space-between;

    @include media(large) {
      justify-content: flex-start;
    }

    @include media(mobile) {
      flex-wrap: wrap;
    }
  }

  .badges__item {
    text-transform: uppercase;
    width: auto;
    font-size: 14px;
    letter-spacing: 0.5px;

    @include media(laptop) {
      padding: 5px 9px;
      font-size: 12px;
      letter-spacing: 0.35px;
    }

    @include media(mobile) {
      width: 100% !important;
      padding: 9px;
      border-radius: 5px;
    }
  }
</style>
