<template>
  <Widget
    class="dates"
    type="dates"
    title="Set dates"
    @reset="reset"
    :selected="activeInterval ? activeInterval.title : false"
    :show-reset="!!activeInterval"
  >
    <div class="dates__list">
      <Radio class="dates__item" v-for="(interval, index) in intervals" :key="`date.${index}`" @click.native="setDatesInterval(interval)" :class="{'is-active': interval.selected}">
        {{ interval.title }}
      </Radio>
    </div>
  </Widget>
</template>

<script>
  import { mapState, mapGetters, mapActions } from 'vuex'
  import moment from 'moment'
  import Widget from '~/components/FilterElementWidget'
  import Radio from '~/components/FilterElementRadio'

  export default {
    components: {
      Widget, Radio,
    },
    data() {
      return {
        dateOne: '',
        dateTwo: '',
        lang: 'en',
        range: {
          startDate: moment(),
          endDate: moment().add(7, 'days'),
        },
      }
    },
    computed: {
      ...mapGetters({
        activeDate: 'filter/dates',
        intervals: 'intervals/list',
        activeInterval: 'intervals/active',
      }),
      userRange() {
        return (!!this.dateOne && !!this.dateTwo) ? dateOne + ' ' + dateTwo : 'Pick dates'
      },
    },
    methods: {
      ...mapActions({
        setDates: 'filter/setDates',
        resetDates: 'filter/resetDates',
        setActiveInterval: 'intervals/setActive',
      }),
      reset() {
        this.resetDates()
      },
      setDatesInterval(interval) {
        this.setActiveInterval(interval.code)
      },
      setRange(p) {
        if (typeof p === 'number') {
          this.range = {
            startDate: moment().add(p, 'days'),
            endDate: moment()
          }
        }
      },
    }
  }
</script>

<style lang="scss" scoped>
  .dates {

  }

  .dates__list {
    display: flex;
    flex-wrap: wrap;
    margin: -5px;

    @include media(laptop) {
      justify-content: space-between;
    }
  }

  .dates__item {
    white-space: nowrap !important;
    width: auto !important;
    text-transform: uppercase;
    padding: 5px 12px;
    font-size: 13px;
    letter-spacing: 0.5px;

    @include media(laptop) {
      padding: 5px 7px;
      font-size: 12px;
      letter-spacing: 0.35px;
    }

    @include media(mobile) {
      width: 100% !important;
      padding: 9px;
      font-size: 14px;
      border-radius: 5px;
    }

    span {
      display: block;
    }
  }
</style>
