<template>
  <div class="active-topics">
    <div class="active-topics__title">
      Selected topics:
    </div>
    <ul class="active-topics__list">
      <li class="active-topics__item" v-for="(topicId, index) in selected" :key="`active_topic.${index}`" @click="unSelectTopic(topicId)">
        {{ getTopic(topicId) }}
        <span>&times;</span>
      </li>
    </ul>
  </div>
</template>

<script>
  import { mapState, mapGetters, mapActions } from 'vuex'

  export default {
    computed: {
      ...mapGetters({
        topics: 'topics/list',
        selected: 'filter/topics',
      }),
    },
    methods: {
      ...mapActions({
        selectTopic: 'filter/selectTopic',
        unSelectTopic: 'filter/unSelectTopic',
      }),
      getTopic(id) {
        let topic = this.topics.find(item => item.Id == id)
        return topic.Title
      },
    }
  }
</script>

<style lang="scss" scoped>
  .active-topics {

  }

  .active-topics__title {
    display: none;
  }

  .active-topics__list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .active-topics__item {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 7px 11px 6px;
    background: rgba(#7398bb, 0.15);
    border-radius: 100px;
    font-size: 11px;
    line-height: 1;
    font-weight: 400;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: all ease 0.3s;

    &:hover {
      background: rgba(#7398bb, 0.25);
    }

    @include theme(red) {
      background: rgba(#c7b5b5, 0.15);
      color: #501f1f;

      &:hover {
        background: rgba(#c7b5b5, 0.25);
      }
    }

    @include theme(green) {
      background: rgba(#b5c7c6, 0.15);
      color: #26615e;

      &:hover {
        background: rgba(#b5c7c6, 0.25);
      }
    }

    span {
      margin-left: 3px;
    }
  }
</style>
