<template>
  <div class="widget" :class="[`type-${type}`, {'is-open': isOpen}]">
    <div class="widget__header" v-if="title" @click="toggleOpen">
      <div class="widget__meta">
        <div class="widget__title">
          {{ title }}
        </div>
        <transition name="fade">
          <div class="widget__selected-badge" :class="{'is-show-count': !!selectedCount}" v-if="isShowSelected">
            {{ selectedCount }}
          </div>
        </transition>
        <transition name="fade">
          <div class="widget__selected-label" v-if="isShowSelected  && type !='topics'">
            {{ selectedLabel }}
          </div>
        </transition>
      </div>
      <div class="widget__actions">
        <transition name="fade">
          <div class="widget__reset" @click="reset" v-if="showReset">
            <IconClose class="widget__icon-reset" /> Reset
          </div>
        </transition>
        <div class="widget__open">
          <IconArrowRight class="widget__icon widget__icon-open" v-if="!isOpen" />
          <IconClose class="widget__icon widget__icon-close" v-if="isOpen" />
        </div>
      </div>
    </div>
    <div class="widget__body">
      <slot></slot>
    </div>
    <div class="widget__footer">
      <Button class="widget__button widget__button--reset" type="secondary" outline :disabled="!showReset" @click="reset">
        Reset
      </Button>
      <Button class="widget__button widget__button--apply" type="primary" @click="toggleOpen">
        Done
      </Button>
    </div>
  </div>
</template>

<script>
  import { IconClose, IconArrowRight } from '~/components/Icons'
  import { mapGetters, mapActions } from 'vuex'
  import Button from '~/components/UI/Button'

  export default {
    components: {
      IconClose, IconArrowRight, Button,
    },
    props: {
      title: {
        type: [String, Boolean],
        default: false,
      },
      type: {
        type: String,
        validator: (val) => ['topics', 'dates', 'upvotes', 'badges', 'actions'].includes(val),
      },
      selected: {
        type: [Number, Boolean, String],
        default: false,
      },
      showReset: {
        type: Boolean,
        default: false,
      },
    },
    computed: {
      ...mapGetters({
        activeFilterWidget: 'activeFilterWidget',
      }),
      isShowSelected() {
        return !!this.selected
      },
      selectedCount() {
        return typeof this.selected == "number" ? this.selected : ''
      },
      selectedLabel() {
        return this.selected
      },
      isOpen() {
        return this.activeFilterWidget == this.type
      },
    },
    methods: {
      ...mapActions([
        'setActiveFilterWidget',
      ]),
      reset() {
        this.$emit('reset', this.type)
      },
      toggleOpen() {
        let payload = this.activeFilterWidget == this.type ? false : this.type
        this.setActiveFilterWidget(payload)
      },
    }
  }
</script>

<style lang="scss" scoped>
  .widget {
    padding: 30px;
    position: relative;

    @include media(laptop) {
      padding: 20px;
    }

    &.type-actions {

      @include media(tablet-portrait-plus) {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: auto;
        z-index: 0;
      }

      @include media(mobile) {
        padding: 20px;
      }
    }
  }

  .widget__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  .widget__meta {
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  .widget__title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 1.8px;
    color: $blue-title-color;

    @include theme(dark) {
      color: $dark-title-color;
    }

    @include theme(green) {
      color: $green-title-color;
    }

    @include theme(red) {
      color: $red-title-color;
    }
  }

  .widget__selected-badge {
    background: $rose-color;
    width: 10px;
    height: 10px;
    margin-left: 10px;
    border-radius: 100px;
    display: none;

    @include theme(green) {
      background: $green-active-color;
    }

    @include theme(blue) {
      background: $blue-active-color;
    }

    @include theme(red) {
      background: $red-active-color;
    }

    &.is-show-count {
      color: #fff;
      width: 20px;
      height: 20px;
      text-align: center;
      font-size: 12px;
      font-weight: bold;
      line-height: 20px;
    }

    .type-topics & {
      display: block;
    }

    @include media(tablet-portrait-plus) {
      display: block;
    }
  }

  .widget__selected-label {
    display: none;
    text-transform: uppercase;
    font-size: 10px;
    opacity: 0.2;
    font-weight: bold;
    position: absolute;
    right: 30px;

    @include media(tablet-portrait-plus) {
      display: block;

      .is-open & {
        display: none;
      }
    }
  }

  .widget__reset {
    text-transform: uppercase;
    opacity: 0.3;
    letter-spacing: 1px;
    font-size: 10px;
    font-weight: 500;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all ease 0.3s;
    user-select: none;

    @include media(tablet-portrait-plus) {
      display: none;
    }

    @include theme(dark) {
      opacity: 0.1;
    }

    &:hover {
      opacity: 1;
    }
  }

  .widget__open {
    display: none;
    opacity: 0.1;
    position: relative;
    top: 0;
    left: 0;

    @include media(tablet-portrait-plus) {
      display: block;
    }
  }

  .widget__icon-reset {
    width: 8px;
    margin-right: 5px;
    margin-top: -1px;
  }

  .widget__icon-open {
    width: 14px;
  }

  .widget__icon-close {
    width: 20px;
  }


  .widget__body {
    width: 100%;
    padding-top: 20px;

    .type-actions & {
      padding: 10px 0;
    }

    @include media(tablet-portrait-plus) {
      display: none;

      .type-actions & {
        display: block;
      }

      .is-open & {
        display: block;
        padding-bottom: 76px;
      }
    }
  }

  .widget__footer {
    display: none;

    .type-actions & {
      display: none !important;
    }

    .type-topics & {
      box-shadow: 0 0 20px rgba(#000, 0.25);
    }

    @include theme(dark) {
      background: #0c2134;
    }

    @include theme(light, red, blue, green) {
      background: #fff;
      box-shadow: 0 0 20px rgba(#000, 0.1);
    }

    @include media(tablet-portrait-plus) {

      .is-open & {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        position: fixed;
        width: 100%;
        left: 0;
        bottom: 0;
        height: 86px;
      }
    }
  }

  .widget__button {

    @include media(mobile) {
      min-width: 120px;
      height: 40px;
      line-height: 40px;
    }

    &--reset {
      margin-right: 20px;

      @include media(mobile) {
        line-height: 34px !important;
      }
    }
  }
</style>
