<template>
  <div class="filter" :class="classes">
    <div class="filter__section">
      <Topics class="filter__field filter__field--topics" />
    </div>
    <div class="filter__section">
      <Dates class="filter__field filter__field--dates" />
      <Upvotes class="filter__field filter__field--upvotes" />
      <Badges class="filter__field filter__field--badges" />
      <Actions class="filter__field filter__field--actions" />
    </div>
  </div>
</template>

<script>
  import { mapState, mapGetters, mapActions } from 'vuex'
  import Topics from '~/components/FilterTopics'
  import Dates from '~/components/FilterDates'
  import Upvotes from '~/components/FilterUpvotes'
  import Badges from '~/components/FilterBadges'
  import Actions from '~/components/FilterActions'

  export default {
    components: {
      Topics, Dates, Upvotes, Actions, Badges,
    },
    computed: {
      ...mapGetters({
        topics: 'topics/items',
        activeFilterWidget: 'activeFilterWidget',
      }),
      classes() {
        if (this.activeFilterWidget) {
          return `is-widget-open widget-${this.activeFilterWidget}`
        }
      }
    },
    mounted() {
      this.$keyboard.bind('esc', () => {
        this.closeFilter()
      })
    },
    methods: {
      ...mapActions([
        'closeFilter',
      ]),
    },
  }
</script>

<style lang="scss" scoped>
  .filter {
    width: 100%;
    height: calc(100vh - 110px);
    top: 110px;
    position: absolute;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    user-select: none;

    @media screen and (max-height: 700px) {
      top: 80px;
      height: calc(100vh - 80px);
    }

    @media screen and (max-height: 700px) {
      position: relative;
      top: 0 !important;
      min-height: 580px;

      @include media(laptop) {
        min-height: 550px;
      }
    }

    @include media(tablet-portrait-plus) {
      flex-direction: column;
    }

    @include media(tablet-portrait) {
      height: calc(100vh - 80px);
      top: 80px;
    }

    @include theme(red, blue, green) {
      background: rgba(#f3f3f3, 0.95);
    }
  }

  .filter__section {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @include media(tablet-portrait-plus) {
      width: 100% !important;
      position: relative;
      height: auto;
      margin: 0;

      .is-widget-open & {
        height: 100%;
        position: absolute;
      }
    }

    &:first-child {
      width: 60%;
      margin-right: 5px;

      @include media(laptop) {
        width: 53%;
      }

      @include media(tablet-portrait-plus) {

        .widget-topics & {
          z-index: 1000;
        }
      }

      &::after {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 13px 14px 13px;
        border-color: transparent transparent #fff transparent;
        display: block;
        position: absolute;
        top: -14px;
        right: 20vw;

        @include theme(dark) {
          border-color: transparent transparent #0A1E32 transparent;
        }

        @include media(tablet-portrait-plus) {
          left: auto;
          right: 65px;
        }

        @include media(mobile) {
          left: auto;
          right: 25px;
        }
      }
    }

    &:last-child {
      width: 40%;

      @include media(laptop) {
        width: 47%;
      }
    }
  }

  .filter__field {
    background: #FFF;

    @include theme(dark) {
      background: #0A1E32;
    }

    @include media(tablet-portrait-plus) {
      .is-widget-open & {
        position: relative;
        z-index: 999;
      }
    }

    &--topics {
      width: 100%;
      height: 100%;
      overflow-y: scroll;

      @include media(tablet-portrait-plus) {
        height: auto;

        .is-widget-open & {
          display: none;
        }

        .widget-topics & {
          display: block;
          height: 100vh;
        }
      }
    }

    &--dates {
      width: 100%;
      height: calc(30% - 5px);
      margin-bottom: 5px;

      @include media(tablet-portrait-plus) {
        height: auto;

        .is-widget-open & {
          display: none;
        }

        .widget-dates & {
          display: block;
          height: 100vh;
        }
      }
    }

    &--upvotes {
      width: 100%;
      height: calc(30% - 5px);
      margin-bottom: 5px;

      @include media(tablet-portrait-plus) {
        height: auto;

        .is-widget-open & {
          display: none;
        }

        .widget-upvotes & {
          display: block;
          height: 100vh;
        }
      }
    }

    &--badges {
      width: 100%;
      height: calc(23% - 5px);
      margin-bottom: 5px;

      @include media(tablet-portrait-plus) {
        height: auto;

        .is-widget-open & {
          display: none;
        }

        .widget-badges & {
          display: block;
          height: 100vh;
        }
      }
    }

    &--actions {
      height: calc(17% - 5px);
      background: transparent !important;
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
    }

    &:focus {
      outline: none;
    }

    @include media(tablet-portrait-plus) {
      margin-bottom: 2px;
    }
  }
</style>
