<template>
  <div class="contains">
    <div class="contains__title">
      Which of selected topics should be in product?
    </div>
    <div class="contains__value">
      <FilterSwitch
        class="contains__switch"
        :value="contains"
        @input="set"
        :options="optionsSwitch"
      />
    </div>
  </div>
</template>

<script>
  import { mapState, mapGetters, mapActions } from 'vuex'
  import FilterSelect from '~/components/FilterElementSelect'
  import FilterSwitch from '~/components/FilterElementSwitch'

  export default {
    components: {
      FilterSelect, FilterSwitch,
    },
    computed: {
      ...mapGetters({
        contains: 'filter/topicsContains',
        selectedTopics: 'filter/topics',
      }),
      isBadState() {
        return this.contains == 'all' && this.selectedTopics.length > 5
      },
    },
    data() {
      return {
        optionsSwitch: [
          {
            label: 'Some',
            value: 'some',
          },
          {
            label: 'Every',
            value: 'all',
          },
        ],
      }
    },
    methods: {
      ...mapActions({
        setContains: 'filter/setContains',
        alert: 'notifications/show',
      }),
      set(value) {
        this.setContains(value)
      },
    }
  }
</script>

<style lang="scss" scoped>
  .contains {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;

    @include media(mobile) {
      align-items: center;
      width: 100%;
    }
  }

  .contains__title {
    font-size: 9px;
    color: #456580;
    text-align: right;
    position: absolute;
    top: -2px;
    white-space: nowrap;

    @include media(mobile) {
      position: static;
      white-space: normal;
      text-align: center;
    }
  }

  .contains__value {
    margin-top: 15px;

    @include media(mobile) {
      margin-top: 10px;
    }
  }

  .contains__select {
    width: 200px;
  }

  .contains__switch {
    width: 180px;

    @include media(mobile) {
      justify-content: center;
      margin: 0 auto;
    }
  }

  select {
    width: 100%;
    -webkit-appearance: none;
    border: 2px solid #27405a;
    background: #183148a8;
    color: #fff;
    text-transform: uppercase;
    padding: 5px 10px;
    border-radius: 2px;
    outline: none;
    font-size: 11px;
  }
</style>
