<template>
  <div class="state">
    <TopicsActive class="state__topics" />
    <TopicsContains class="state__contains" v-if="selected.length > 1" />
  </div>
</template>

<script>
  import { mapState, mapGetters, mapActions } from 'vuex'
  import TopicsActive from '~/components/FilterTopicsActive'
  import TopicsContains from '~/components/FilterTopicsContains'

  export default {
    components: {
      TopicsActive, TopicsContains
    },
    computed: {
      ...mapGetters({
        selected: 'filter/topics',
        contains: 'filter/topicsContains',
      })
    }
  }
</script>

<style lang="scss" scoped>
  .state {
    font-size: 12px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    user-select: none;
    padding-bottom: 30px;

    @include media(mobile) {
      flex-direction: column;
    }
  }

  .state__topics {

  }

  .state__contains {
    margin-top: -18px;
    margin-left: 10px;
    flex: none;

    @include media(mobile) {
      margin-top: 20px;
      margin-left: 0;
    }
  }
</style>
