<template>
  <footer class="footer">
    <div class="footer__section footer__section--author">
      <Copyright class="footer__copyright" />
      <BuyCoffee class="footer__coffee" />
    </div>
    <div class="footer__center" v-if="totalCount > 0">
      {{ totalCount }}
    </div>
    <div class="footer__section footer__section--controls">
      <History class="footer__history" />
      <SwitchTheme class="footer__theme" />
      <Share class="footer__history" />
    </div>
  </footer>
</template>

<script>
  import { mapState } from 'vuex'
  import History from '~/components/FooterHistory'
  import Copyright from '~/components/FooterCopyright'
  import Share from '~/components/FooterShare'
  import SwitchTheme from '~/components/FooterThemeSwitcher'
  import BuyCoffee from '~/components/FooterBuyCoffee'
  import Action from '~/components/UI/Link'

  export default {
    components: {
      History, Copyright, SwitchTheme, Share, Action, BuyCoffee,
    },
    computed: {
      ...mapState([
        'totalCount',
      ]),
    },
  }
</script>

<style lang="scss" scoped>
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px 45px;
    user-select: none;
    align-items: center;

    @include media(tablet-portrait-plus) {
      flex-direction: column-reverse;
    }

    @include media(mobile) {
      padding: 0 20px 20px;
    }
  }

  .footer__section {

    &--controls {
      display: flex;
      align-items: center;


      @include media(tablet-portrait-plus) {
        margin-bottom: 20px;
      }

      div {
        margin-left: 35px;

        @include media(tablet-portrait-plus) {
          margin: 0 20px;
        }
      }

      & /deep/ .link__text {

        @include media(mobile) {
          display: none;
        }
      }

      & /deep/ .link__icon svg {

        @include media(mobile) {
          width: 22px;
          height: 22px;
        }
      }
    }

    &--author {
      display: flex;
      align-items: center;
      transition: all ease 0.3s;

      &:hover {
        opacity: 1;
      }

      & /deep/ .link__text {

        @include media(mobile) {
          display: none;
        }
      }
    }
  }

  .footer__history {

  }

  .footer__theme {

  }

  .footer__email {
    margin-left: 10px;
    opacity: 0.5;
    position: relative;
  }

  .footer__coffee {
    margin-left: 30px;
  }

  .footer__copyright {

    @include media(mobile) {

    }
  }


  .footer__center {
    flex: 1;
    text-align: center;
    font-size: 9px;
    opacity: 0.2;

    @include media(tablet-portrait-plus) {
      display: none;
    }
  }
</style>
