<template>
  <PopoverLink
    code="share"
    title="Share"
    align="right"
    @popover-open="onPopoverOpen"
  >
    <template v-slot:icon>
      <IconShare />
    </template>
    <ul class="share__list">
      <li class="share__item" v-for="(item, index) in items" :key="`share-${index}`">
        <a @click="shareClick(item.code)" :href="item.link" target="blank" class="share__link">
          <template v-if="item.code == 'facebook'">
            <IconFacebook class="share__icon" />
          </template>
          <template v-if="item.code == 'twitter'">
            <IconTwitter class="share__icon" />
          </template>
          <template v-if="item.code == 'linkedin'">
            <IconLinkedin class="share__icon" />
          </template>
          <template v-if="item.code == 'reddit'">
            <IconReddit class="share__icon" />
          </template>
        </a>
      </li>
    </ul>
  </PopoverLink>
</template>

<script>
  import PopoverLink from '~/components/UI/PopoverLink'
  import { IconShare, IconFacebook, IconTwitter, IconLinkedin, IconReddit } from '~/components/Icons'

  export default {
    components: {
      PopoverLink, IconShare, IconFacebook, IconTwitter, IconLinkedin, IconReddit,
    },
    computed: {
      items() {
        return [
          {
            code: 'twitter',
            link: `http://twitter.com/share?text=${this.text}&url=${this.url}`
          },
          {
            code: 'facebook',
            link: `https://www.facebook.com/sharer/sharer.php?u=${this.url}`
          },
          {
            code: 'linkedin',
            link: `https://www.linkedin.com/shareArticle?mini=true&url=${this.url}&title=Shufflehunt&summary=${this.text}`
          },
          {
            code: 'reddit',
            link: `https://www.reddit.com/submit?url=${this.url}`
          },
        ]
      },
      url() {
        return 'https://shufflehunt.com'
      },
    },
    data() {
      return {
        text: 'Discover random products from ProductHunt',
      }
    },
    methods: {
      onPopoverOpen() {
        this.$goal('share_open')
      },
      shareClick(source) {
        this.$goal(`go_to_share_${source}`)
      },
    },
  }
</script>

<style lang="scss" scoped>
  .share__bubble {
    white-space: nowrap;
  }

  .share__list {
    display: flex;
    align-items: center;
  }

  .share__item {
    margin-right: 15px;

    @include media(mobile) {
      margin-right: 30px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .share__link {
    display: flex;
    color: rgba(#3E396B, 0.35);

    @include theme(dark) {
      color: rgba(#fff, 0.2);
    }

    &:hover {
      color: rgba(#3E396B, 0.9);

      @include theme(dark) {
        color: rgba(#fff, 0.5);
      }
    }
  }

  .share__icon {

    @include media(mobile) {
      width: 30px;
      height: 30px;
    }
  }
</style>
