<template>
  <PopoverLink
    ref="popover"
    code="switch-theme"
    title="Switch theme"
    align="center"
    @popover-open="onPopoverOpen"
  >
    <template v-slot:icon>
      <IconBrush />
    </template>
    <div class="themes">
      <ul class="themes__list">
        <li class="themes__item" v-for="(theme, i) in themes" :key="`theme.${i}`" :class="{'is-active': theme.active, 'is-border': theme.code == 'light'}" :style="{background: getBackground(theme.color)}" @click="choose(theme.code)"></li>
      </ul>
    </div>
  </PopoverLink>
</template>

<script>
  import { mapState, mapGetters, mapActions } from 'vuex'
  import { IconBrush } from '~/components/Icons'
  import PopoverLink from '~/components/UI/PopoverLink'

  export default {
    components: {
      PopoverLink, IconBrush,
    },
    computed: {
      ...mapGetters({
        themes: 'themes/list',
      }),
    },
    methods: {
      ...mapActions({
        switchTheme: 'themes/switchTheme',
      }),
      choose(code) {
        this.switchTheme(code)
        if (window.innerWidth < 500) {
          this.$refs.popover.hidePopover()
        }
      },
      getBackground(color) {
        if (typeof color == 'string') {
          return color
        } else {
          return `linear-gradient(to right, ${color[0]}, ${color[1]})`
        }
      },
      onPopoverOpen() {
        this.$goal('switch_theme_open')
      },
    }
  }
</script>

<style lang="scss" scoped>
  $bg-dark: #1B3247;
  $bg-light: #FFFFFF;

  .themes {
    border-radius: 5px;
    transition: all ease 0.3s;
    user-select: none;
  }

  .themes__list {
    display: flex;
    flex-direction: row;
    align-items: center;

    @include media(mobile) {
      justify-content: center;
      width: 100%;
    }
  }

  .themes__item {
    width: 18px;
    height: 18px;
    border-radius: 3px;
    margin-left: 11px;
    flex: none;
    transition: all ease 0.3s;
    cursor: pointer;

    @include media(mobile) {
      width: 36px;
      height: 36px;
      margin: 0 10px;
    }

    &.is-border {
      border: 1px solid #ddd;
    }

    &:first-child {
      margin-left: 0;
    }

    &:hover {
      opacity: 0.9;
      transform: scale(0.98);
    }

    &.is-active {
      box-shadow: 0 0 0 2px #41EB3D;
      cursor: default;

      @include media(mobile) {
        box-shadow: 0 0 0 3px #41EB3D;
      }

      &:hover {
        opacity: 1;
      }

      &.is-border {
        border: none;
      }
    }
  }
</style>
