<template>
  <PopoverLink
    code="coffee"
    title="Buy me a coffee"
    subtitle="Support project"
    align="center"
    @popover-open="onPopoverOpen"
  >
    <template v-slot:icon>
      <IconCoffee />
    </template>
    <ul class="donate__list">
      <li class="donate__item" v-for="(item, index) in items" :key="`donate-${index}`">
        <a :href="item.link" target="_blank" class="donate__link" @click="coffeeClick(item.code)">
          <i class="donate__icon" :class="[`donate__icon--${item.code}`]" />
        </a>
      </li>
    </ul>
  </PopoverLink>
</template>

<script>
  import { IconCoffee } from '~/components/Icons'
  import PopoverLink from '~/components/UI/PopoverLink'

  export default {
    components: {
      PopoverLink, IconCoffee,
    },
    data() {
      return {
        items: [
          {
            code: 'paypal',
            link: 'https://paypal.me/arkadylukashov',
          },
          {
            code: 'bmc',
            link: 'https://www.buymeacoffee.com/arkadylukashov',
          },
          {
            code: 'kofi',
            link: 'https://ko-fi.com/arkadylukashov',
          },
        ],
      }
    },
    methods: {
      onPopoverOpen() {
        this.$goal('coffee_open')
      },
      coffeeClick(source) {
        this.$goal(`go_to_coffee_${source}`)
      },
    }
  }
</script>

<style lang="scss" scoped>
  .donate__bubble {
    white-space: nowrap;
  }

  .donate__list {
    display: flex;
    align-items: center;
  }

  .donate__item {
    margin-right: 15px;

    @include media(mobile) {
      margin-right: 30px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .donate__link {
    display: flex;
    transition: all ease 0.3s;

    &:hover {
      opacity: 0.75;
    }
  }

  .donate__icon {
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 5px;

    &--paypal {
      @include image('logo-paypal.svg');
    }

    &--bmc {
      @include image('logo-bmc.svg');
    }

    &--kofi {
      @include image('logo-kofi.svg');
    }

    @include media(mobile) {
      width: 50px !important;
      height: 50px !important;
    }
  }
</style>
