<template>
  <div class="history">
    <Action @click="showHistory" :disabled="!canViewHistory" class="history__link">
      <template v-slot:icon>
        <IconHistory />
      </template>
      View history
    </Action>
  </div>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex'
  import { IconHistory } from '~/components/Icons'
  import Action from '~/components/UI/Link'

  export default {
    components: {
      Action, IconHistory,
    },
    computed: {
      ...mapGetters({
        canViewHistory: 'history/canViewHistory',
      }),
    },
    methods: {
      ...mapActions({
        showHistoryAction: 'showHistory',
      }),
      showHistory() {
        this.$goal('view_history')
        this.showHistoryAction()
      },
    },
  }
</script>

<style lang="scss" scoped>

</style>
