<template>
  <div class="copyright">
    Made by <a @click="reachGoal" href="https://arkadylukashov.com/" target="_blank">@arkadylukashov</a> in 2019
  </div>
</template>

<script>
  export default {
    methods: {
      reachGoal() {
        this.$goal('go_to_my_website')
      },
    },
  }
</script>

<style lang="scss" scoped>
  .copyright {
    text-transform: uppercase;
    color: rgba(#fff, 0.15);
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 1px;

    @include theme(light) {
      color: rgba(#3E396B, 0.15);
    }

    a {
      color: rgba(#fff, 0.2);
      border-bottom: 1px solid transparent;
      padding-bottom: 1px;

      @include theme(light) {
        color: rgba(#3E396B, 0.3);
      }

      &:hover {
        color: rgba(#fff, 0.6);
        border-bottom-color: rgba(#fff, 0.3);

        @include theme(light) {
          color: rgba(#3E396B, 0.6);
          border-bottom-color: rgba(#3E396B, 0.3);
        }
      }
    }
  }
</style>
