<template>
  <header class="header" :class="{'is-show-filter': isShowFilter}">
    <div class="header__brand">
      <TheLogo class="header__logo" />
      <transition name="fade">
        <TheTagline class="header__tagline" v-if="isShowCards"/>
      </transition>
    </div>
    <div class="header__actions">
      <FilterToggle class="header__filter" />
    </div>
  </header>
</template>

<script>
  import { mapState, mapGetters } from 'vuex'
  import TheLogo from '~/components/HeaderLogo'
  import TheTagline from '~/components/Tagline'
  import FilterToggle from '~/components/HeaderFilter'

  export default {
    components: {
      TheLogo, TheTagline, FilterToggle,
    },
    computed: {
      ...mapState([
        'isShowFilter',
      ]),
      ...mapGetters([
        'isShowCards',
      ]),
    },
  }
</script>

<style lang="scss" scoped>
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 35px 45px;
    height: 110px;

    @media screen and (max-width: 560px) {
      padding: 30px;
      height: auto;
    }

    @media screen and (max-height: 700px) {
      height: 80px;
    }

    @include media(tablet-portrait) {
      height: 80px;
    }
  }

  .header__brand {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .header__logo {
    cursor: pointer;
    transition: all ease 0.3s;

    &:hover {
      opacity: 0.8;
    }
  }

  .header__tagline {
    margin-left: 35px;
    margin-top: 1px;

    @media screen and (max-width: 1180px) {
      position: absolute;
      left: 78px;
      top: 75px;
      margin-left: 0 !important;
      max-width: 270px;
      transition: all ease 0.3s;
      line-height: 13px;

      .is-show-filter & {
        opacity: 0;
      }
    }

    @media screen and (max-width: 1180px) and (max-height: 700px) {
      top: 60px;
    }

    @media screen and (max-width: 560px) {
      display: none !important;
      left: 62px;
      top: 60px;
    }

    @include media(mobile-nano) {
      display: none;
    }
  }
</style>
