<template>
  <div class="logo" @click="onLogoClick">
    <LogoIcon class="logo__icon" :color="colors[0]" />
    <LogoText class="logo__text" :colors="colors" />
  </div>
</template>

<script>
  import { mapState, mapGetters, mapActions } from 'vuex'
  import LogoIcon from '~/components/HeaderLogoIcon'
  import LogoText from '~/components/HeaderLogoText'

  export default {
    components: {
      LogoIcon, LogoText
    },
    data() {
      return {
        colorsData: {
          dark: "#3E396B",
          light: "#FFFFFF",
          rose: "#E60975"
        }
      }
    },
    computed: {
      ...mapGetters({
        theme: 'themes/current',
      }),
      ...mapState([
        'isShowFilter',
      ]),
      colors() {
        switch(this.theme.code) {
          case 'dark':
            return [this.colorsData.light, this.colorsData.rose]
          break
          case 'light':
            return [this.colorsData.dark, this.colorsData.rose]
          break
          default:
            return [this.colorsData.light, this.colorsData.light]
          break
        }
      }
    },
    methods: {
      ...mapActions({
        closeFilter: 'closeFilter',
        showConfetti: 'confetti/show',
      }),
      onLogoClick() {
        if (this.isShowFilter) {
          this.closeFilter()
        } else {
          this.showConfetti({
            message: "Thanks for using <strong>Shufflehunt</strong> 💕"
          })
        }
      },
    }
  }
</script>

<style>
  .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .logo__icon {
    width: 18px;
    height: 18px;
    margin-right: 14px;
  }

  .logo__letters {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .logo__letter {
    margin-right: 1px;
  }
</style>
