<template>
  <svg height="16" viewBox="0 0 150 16" width="150" xmlns="http://www.w3.org/2000/svg">
    <g fill="none" fill-rule="evenodd" transform="">
        <g :fill="colors[0]">
            <path d="m78.4339999 15.736v-14.52h10.076v3.41h-6.292v2.002h4.488v3.168h-4.488v2.53h6.556v3.41z" />
            <path d="m0 12.744 2.552-1.936c.858 1.144 1.76 1.87 3.234 1.87.99 0 1.496-.352 1.496-1.056 0-.638-.33-.836-1.474-1.342l-1.496-.66c-2.398-1.056-3.674-2.42-3.674-4.378 0-2.574 2.112-4.29 5.082-4.29 2.398 0 4.092 1.144 4.972 2.926l-2.53 1.936c-.704-1.056-1.364-1.54-2.398-1.54-.792 0-1.298.308-1.298.924 0 .528.308.814 1.254 1.188l1.672.704c2.53 1.056 3.718 2.332 3.718 4.378 0 2.816-2.31 4.532-5.324 4.532-2.618 0-4.73-1.254-5.786-3.256z" />
            <path d="m12.966 15.736v-14.52h3.784v5.302h5.302v-5.302h3.784v14.52h-3.784v-5.808h-5.302v5.808z" />
            <path d="m28.352 9.576v-8.36h3.784v8.646c0 1.65 1.078 2.662 2.64 2.662s2.64-1.012 2.64-2.662v-8.646h3.784v8.36c0 3.828-2.75 6.424-6.424 6.424-3.718 0-6.424-2.552-6.424-6.424z" />
            <path d="m43.716 15.736v-14.52h9.856v3.41h-6.072v2.772h4.928v3.41h-4.928v4.928z" />
            <path d="m66.9639999 15.736v-14.52h3.784v11.11h6.006v3.41z" />
            <path d="m55.34 15.736v-14.52h9.856v3.41h-6.072v2.772h4.928v3.41h-4.928v4.928z" />
        </g>
        <g :fill="colors[1]">
          <path d="m107.214 9.576v-8.36h3.784v8.646c0 1.65 1.078 2.662 2.64 2.662s2.64-1.012 2.64-2.662v-8.646h3.784v8.36c0 3.828-2.75 6.424-6.424 6.424-3.718 0-6.424-2.552-6.424-6.424z"/>
          <path d="m91.8279999 15.736v-14.52h3.784v5.302h5.3020001v-5.302h3.784v14.52h-3.784v-5.808h-5.3020001v5.808z"/>
          <path d="m131.664 1.216h3.784v14.784h-1.21l-7.876-7.634v7.37h-3.784v-14.784h1.21l7.876 7.524z"/>
          <path d="m141.176 15.736v-11.11h-4.356v-3.41h12.496v3.41h-4.356v11.11z"/>
        </g>

    </g>
</svg>
</template>

<script>
  export default {
    props: {
      colors: {
        type: Array,
      },
    },
  }
</script>

<style lang="scss" scoped>
  g {
    transition: all ease 0.2s;
  }
</style>
