<template>
  <svg width="18" height="18" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
    <path d="M12.588 1H17v4.444M2 16.111l14.294-14.4M17 12.556V17h-4.412m-.882-5.333l4.5 4.533M2 1.889l4.412 4.444" :stroke="color" stroke-width="2" fill="none" stroke-linecap="square"/>
  </svg>
</template>

<script>
  export default {
    props: {
      color: {
        type: String,
        default: "currentColor"
      }
    }
  }
</script>
