<template>
  <div class="filter" @click="toggleFilter" :class="{'is-active': isShowFilter}">
    <div class="filter__title" :class="{'has-filter': hasFilter}">
      <IconFilter class="filter__icon" />
      <span class="filter__text">Filter <span>by</span></span>
    </div>
    <ul class="filter__list">
      <li class="filter__item"
        v-for="(filter, i) in list"
        :key="`filter.${i}`"
        :class="[{'is-active': isActive(filter.type)}, `type-${filter.type}`]"
      >
        <template v-if="filter.type == 'topics'">
          <IconGrid class="filter__subicon" />
        </template>
        <template v-if="filter.type == 'dates'">
          <IconDate class="filter__subicon" />
        </template>
        <template v-if="filter.type == 'upvotes'">
          <IconUpvote class="filter__subicon" />
        </template>
        <template v-if="filter.type == 'badges'">
          <IconStar class="filter__subicon" />
        </template>
        {{ filter.title }}
      </li>
    </ul>
    <transition name="fade-up">
      <div class="filter__tip" v-if="isShowTip">
        <span>😎</span> Try to use filters
      </div>
    </transition>
  </div>
</template>

<script>
  import { mapState, mapGetters, mapActions } from 'vuex'
  import { IconFilter, IconGrid, IconDate, IconUpvote, IconStar } from '~/components/Icons'

  export default {
    components: {
      IconFilter, IconGrid, IconDate, IconUpvote, IconStar,
    },
    data() {
      return {
        list: [
          {
            type: 'topics',
            title: 'Topics',
          },
          {
            type: 'dates',
            title: 'Dates',
          },
          {
            type: 'upvotes',
            title: 'Upvotes',
          },
          {
            type: 'badges',
            title: 'Badges',
          },
        ],
        tipHasBeenHidden: false,
      }
    },
    computed: {
      ...mapState([
        'isShowFilter',
        'isShowHistory',
      ]),
      ...mapGetters({
        filterTopics: 'filter/topics',
        filterDates: 'filter/dates',
        filterUpvotes: 'filter/upvotes',
        filterBadges: 'filter/badges',
        isFilterUsed: 'filter/isUsed',
        historyCount: 'history/count',
      }),
      hasFilter() {
        return !!this.filterTopics || !!this.filterDates || !!this.filterUpvotes || !!this.filterBadges
      },
      isShowTip() {
        return this.historyCount >= 11 && this.historyCount <= 13 && !this.isFilterUsed && !this.tipHasBeenHidden
      },
    },
    watch: {
      isShowTip(val) {
        if (val) {
          this.$goal('show_filter_tip')
        }
      },
    },
    methods: {
      ...mapActions({
        toggleFilterAction: 'toggleFilter',
      }),
      toggleFilter() {
        this.hideTip()
        this.toggleFilterAction()
      },
      hideTip() {
        if (!this.tipHasBeenHidden) {
          this.tipHasBeenHidden = true
          this.$goal('filter_open_after_tip')
        }
      },
      isActive(type) {
        switch(type) {
          case 'topics':
            return this.filterTopics != null
          break
          case 'dates':
            return this.filterDates != null
          break
          case 'upvotes':
            return this.filterUpvotes != null
          break
          case 'badges':
            return this.filterBadges != null
          break
          default:
            return false
          break
        }
      },
    }
  }
</script>

<style lang="scss" scoped>
  .filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 15px 15px 25px;
    margin: -15px;
    border-radius: 5px;
    transition: all ease 0.3s;
    opacity: 0.7;
    background: transparent;
    user-select: none;
    position: relative;

    &:hover {
      opacity: 1;
      cursor: pointer;
    }

    &.is-active {
      opacity: 1;
    }

    @include media(mobile) {
      padding: 10px;
      margin: -10px;
      opacity: 1;
    }
  }

  .filter__title {
    color: #667D96;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1.8px;
    display: flex;
    align-items: center;
    position: relative;

    @include theme(red, green, blue) {
      color: rgba(#fff, 0.4);
    }

    @include media(tablet-portrait) {

      &.has-filter::after {
        content: "";
        width: 7px;
        height: 7px;
        background: $rose-color;
        position: absolute;
        border-radius: 100px;
        left: 9px;
        top: -7px;
        border: 4px solid #0c2134;

        @include media(mobile) {
          left: 12px;
        }

        @include theme(light) {
          border-color: #f5f7f9;
        }

        @include theme(red) {
          border-color: #db5f5b;
          background: #fff;
        }

        @include theme(green) {
          border-color: #13a994;
          background: #fff;
        }

        @include theme(blue) {
          border-color: #366fa7;
          background: #fff;
        }
      }
    }
  }

  .filter__icon {
    margin-right: 10px;
    margin-top: -2px;

    @include media(mobile) {
      margin-right: 0;
      margin-top: 0;
      width: 21px;
      height: 21px;
      opacity: 0.7;
    }
  }

  .filter__text {

    @media screen and (max-width: 560px) {
      display: none;
    }

    span {

      @include media(tablet-portrait) {
        display: none;
      }
    }
  }

  .filter__list {
    display: flex;
    flex-direction: row;
    align-items: center;

    @include media(tablet-portrait) {
      display: none;
    }
  }

  .filter__item {
    margin-left: 40px;
    padding: 10px 0;
    transition: all ease 0.3s;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgba(#667D96, 0.35);
    font-weight: 500;
    position: relative;
    display: flex;
    align-items: center;

    @include theme(red, green, blue) {
      color: rgba(#fff, 0.45);
    }

    @media screen and (min-width: 800px) and (max-width: 950px) {
      margin-left: 25px;
    }

    &::after {
      content: "";
      opacity: 0;
      width: 5px;
      height: 5px;
      background: $rose-color;
      transition: all ease 0.3s;
      position: absolute;
      border-radius: 100px;
      right: -7px;
      top: 7px;

      @include theme(red, green, blue) {
        background: #fff;
      }
    }

    &.is-active {
      color: #667D96;

      @include theme(red, green, blue) {
        color: rgba(#fff, 0.9);
      }

      &::after {
        opacity: 1;
      }
    }
  }

  .filter__subicon {
    margin-top: -1px;
    margin-right: 6px;

    .type-badges & {
      margin-top: -3px;
    }
  }

  .filter__tip {
    position: absolute;
    text-transform: uppercase;
    bottom: -55px;
    left: 45%;
    font-size: 12px;
    background: #fff;
    box-shadow: 0 3px 10px rgba(#d0d5e3, 0.1);
    padding: 13px 25px;
    border-radius: 5px;
    letter-spacing: 0.5px;
    white-space: nowrap;
    font-weight: 400;
    color: #667D96;

    span {
      font-size: 110%;
      vertical-align: middle;
      line-height: 2;
    }

    @include theme(dark) {
      background: #1B3247;
      box-shadow: 0 5px 15px rgba(#1b3247, 0.3);
      color: #fff;
    }

    @include media(tablet-portrait) {
      left: auto;
      right: 15px;
      bottom: -60px;
    }

    @include media(mobile) {
      right: -5px;
      z-index: 100;
    }

    &::before {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 9px 9px 9px;
      border-color: transparent transparent #fff transparent;
      position: absolute;
      top: -9px;
      left: 50%;
      transform: translateX(-50%);
      transition: all ease 0.3s;

      @include theme(dark) {
        border-color: transparent transparent #1B3247 transparent;
      }

      @include media(tablet-portrait) {
        left: auto;
        right: 10px;
      }
    }
  }
</style>
