<template>
  <div class="history" :style="style">
    <div class="history__content">
      <IconClose class="history__close" @click.native="closeHistory" />
      <div class="history__title">{{ title }}</div>
      <div class="history__list">
        <HistoryProduct class="history__item" v-for="(item, index) in items" :key="`history.${index}`" :item="item" />
      </div>
    </div>
  </div>
</template>

<script>
  import { mapState, mapGetters, mapActions } from 'vuex'
  import { IconClose } from '~/components/Icons'
  import HistoryProduct from '~/components/HistoryItem'

  export default {
    components: {
      HistoryProduct, IconClose,
    },
    computed: {
      ...mapState({
        limit: state => state.history.limit
      }),
      ...mapGetters({
        list: 'history/items',
        theme: 'themes/current',
        style: 'themes/style',
      }),
      items() {
        return this.list
      },
      title() {
        let count = this.list.length
        return `Your last ${count} shuffled product${count > 1 ? 's' : ''}`
      },
    },
    mounted() {
      this.$keyboard.bind('esc', () => {
        this.closeHistory()
      })
    },
    methods: {
      ...mapActions([
        'closeHistory',
      ]),
    },
  }
</script>

<style lang="scss" scoped>
  .history {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1000;
    overflow-y: scroll;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include theme(light) {
      background: rgba(#f5faff, 0.97) !important;
    }

    @include theme(dark) {
      background: rgba(#0A1E32, 0.99) !important;
    }

    @include theme(red, green, blue) {
      color: #fff;
    }
  }

  .history__close {
    position: absolute;
    top: 50px;
    right: 50px;
    cursor: pointer;
    transition: all ease 0.3s;
    user-select: none;

    @include media(mobile) {
      top: 30px;
      right: 30px;
    }

    &:hover {
      opacity: 0.5;
    }
  }

  .history__content {
    max-height: 100%;
    overflow: auto;
    width: 100%;
  }

  .history__title {
    padding: 50px 40px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1.8px;

    @include media(mobile) {
      padding: 40px;
      margin-top: 30px;
    }
  }

  .history__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -20px auto 50px;
    max-width: 1600px;
  }

  .history__item {
    width: 400px;
    padding: 18px;
    margin: 10px;
    border-radius: 4px;

    @include media(tablet-portrait) {
      width: 340px;
    }

    @include media(mobile) {
      width: 90%;
      margin-bottom: 5px;
    }
  }
</style>
