<template>
  <a class="product" @click="viewProduct" :href="item.url" target="_blank">
    <div class="product__image">
      <img :src="item.image" >
    </div>
    <div class="product__data">
      <div class="product__title">{{ item.title }}</div>
      <div class="product__tagline">{{ item.tagline }}</div>
      <div class="product__upvotes">
        <IconUpvote />
        {{ item.upvotes }}
      </div>
    </div>
    <div class="product__action">
      <IconExternal />
    </div>
  </a>
</template>

<script>
  import { IconExternal, IconUpvote } from '~/components/Icons'

  export default {
    components: {
      IconExternal, IconUpvote
    },
    props: {
      item: {
        type: Object,
        default: {}
      }
    },
    methods: {
      viewProduct() {
        this.$goal('view_product')
      }
    },
  }
</script>

<style lang="scss" scoped>
  .product {
    background: rgba(#1C344B, 0.6);
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: all ease 0.3s;

    &:hover {
      background: rgba(#1C344B, 0.8);

      .product__action {
        opacity: 7;
      }
    }

    @include theme(light, red, green, blue) {
      background: #fff;
      box-shadow: 0 10px 20px rgba(#2b526b, 0.05);

      &:hover {
        background: rgba(#fff, 0.9);
        box-shadow: none;
      }
    }

    @include theme(red, green, blue) {
      box-shadow: 0 10px 20px rgba(#2b526b, 0.15);
    }
  }

  .product__image {
    width: 60px;
    height: 60px;
    flex: none;
    border-radius: 4px;
    overflow: hidden;
    margin-right: 15px;

    img {
      max-width: 100%;
    }
  }

  .product__data {
    width: 70%;

    @include media(mobile) {
      width: 65%;
    }
  }

  .product__title {
    font-size: 16px;
    letter-spacing: 0.3px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    @include theme(light, blue) {
      color: $blue-title-color;
    }

    @include theme(red) {
      color: $red-title-color;
    }

    @include theme(green) {
      color: $green-title-color;
    }

    @include media(mobile) {
      font-size: 15px;
    }
  }

  .product__tagline {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.3px;
    color: rgba(#CBDFF3, 0.5);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    @include theme(light, red, green, blue) {
      color: rgba(#54679D, 0.5);
    }

    @include media(mobile) {
      font-size: 11px;
      line-height: 11px;
    }
  }

  .product__upvotes {
    color: rgba(#CBDFF3, 0.35);
    font-size: 12px;
    margin-top: 7px;
    font-weight: 500;
    display: flex;
    align-items: center;

    @include theme(light, red, green, blue) {
      color: rgba(#54679D, 0.35);
    }

    svg {
      width: 10px;
      margin-right: 4px;
      margin-top: -2px;
    }
  }

  .product__action {
    width: 100%;
    text-align: right;
    padding-right: 5px;
    opacity: 0.2;
    transition: all ease 0.5s;

    @include theme(light, red, green, blue) {
      color: #3E396B;
    }
  }
</style>
