<template>
  <div class="tagline" :class="{'is-big': big, 'is-min': !big}">
    Discover random products from <a href="https://producthunt.com" class="tagline__link" target="_blank">producthunt.com</a>
  </div>
</template>

<script>
  export default {
    props: {
      big: {
        type: Boolean,
        default: false,
      },
    },
  }
</script>

<style lang="scss" scoped>
  .tagline {
    user-select: none;
    text-transform: uppercase;
    letter-spacing: 0.5px;

    &.is-min {
      font-size: 9px;
      color: #2E445A;
      display: flex;
      flex-direction: row;
      align-items: center;

      @include theme(red, green, blue) {
        color: rgba(#fff, 0.25);
      }

      @media screen and (max-width: 1180px) {
        display: block;
      }

      &::before {
        content: "";
        display: block;
        width: 2px;
        height: 15px;
        background: #1B3145;
        margin-right: 13px;

        @media screen and (max-width: 1180px) {
          display: none;
        }

        @include theme(red, green, blue) {
          background: rgba(#fff, 0.15);
        }
      }
    }


    &.is-big {
      color: #fff;
      font-size: 29px;
      line-height: 34px;
      font-weight: bold;
      display: block;
      text-align: center;

      @include theme(red, green, blue) {
        color: rgba(#fff, 0.8);
      }

      @include theme(light) {
        color: #3E396B;
      }

      @include media(mobile) {
        font-size: 26px;
        line-height: 30px;
      }
    }
  }


  .tagline__link {

    .is-min & {
      font-weight: bold;
      display: inline-block;
      margin-left: 5px;

      @media screen and (max-width: 1180px) {
        margin-left: 0;
      }
    }

    .is-big & {
      margin-left: 0;
      color: $rose-color;

      @include theme(red, green, blue) {
        color: rgba(#fff, 1);
      }
    }

    &:hover {
      opacity: 0.7;
    }
  }
</style>
