<template>
  <div class="background" :style="style"></div>
</template>

<script>
  import { mapState, mapGetters } from 'vuex'

  export default {
    computed: {
      ...mapGetters({
        theme: 'themes/current',
        style: 'themes/style',
      }),
    },
    watch: {
      style(val) {
        let html = document.querySelector('html')
        html.style.background = this.style.background
      },
    },
  }
</script>

<style lang="scss" scoped>
  .background {
    height: 100%;
    width: 100%;
  }
</style>
