<template>
  <button @click="onClick" :class="[type, {'with-icon': hasIcon, 'is-disabled': disabled, 'is-outline': outline}]">
    <slot></slot>
  </button>
</template>

<script>
  export default {
    props: {
      type: {
        type: String,
        default: 'primary',
        validator: (val) => ['primary', 'secondary', 'shuffle'].includes(val),
      },
      hasIcon: {
        default: false,
      },
      disabled: {
        type: Boolean,
        default: false,
      },
      outline: {
        type: Boolean,
        default: false,
      },
    },
    methods: {
      onClick() {
        if (!this.disabled) {
          this.$emit('click')
        }
      },
    },
  }
</script>

<style lang="scss" scoped>
  button {
    outline: none;
    touch-action: manipulation;
    cursor: pointer;
    white-space: nowrap;
    transition: all ease 0.3s;
    position: relative;
    background-color: transparent;
    color: #fff;
    user-select: none;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    letter-spacing: 1.25px;
    height: 48px;
    line-height: 48px;
    padding: 0 20px;
    min-width: 180px;
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;

    &.shuffle {

      @include theme(dark) {
        background: $blue-color;
      }

      @include theme(light) {
        background: transparent;
        color: $rose-color;
        line-height: 44px;
        border: 2px solid $rose-color;
      }

      @include theme(red, green, blue) {
        background: rgba(#fff, 0.15);
        box-shadow: 0 5px 15px rgba(#000, 0.04);
      }
    }

    &.primary {
      background: $blue-color;

      @include theme(light) {
        background: $light-active-color;
      }

      @include theme(green) {
        background: $green-bg-color;
      }

      @include theme(blue) {
        background: $blue-bg-color;
      }

      @include theme(red) {
        background: $red-bg-color;
      }
    }

    &.secondary {
      background: transparent;
      line-height: 44px;
      color: #284159;
      border: 2px solid #284159;

      @include theme(light) {
        color: $light-active-color;
        border-color: $light-active-color;
      }

      @include theme(green) {
        color: $green-bg-color;
        border-color: $green-bg-color;
      }

      @include theme(blue) {
        color: $blue-bg-color;
        border-color: $blue-bg-color;
      }

      @include theme(red) {
        color: $red-bg-color;
        border-color: $red-bg-color;
      }
    }

    &:hover {
      opacity: 0.8;
      box-shadow: none !important;
    }

    &:active {
      top: 1px;
    }

    &.is-disabled {
      opacity: 0.5;
      cursor: default;

      &:hover {
        opacity: 0.5 !important;
      }

      &:active {
        top: 0;
      }
    }

  }
</style>
