<template>
  <div class="link" @click="onClick" :class="[{'is-active': active, 'is-disabled': disabled, 'is-empty': empty || !hasDefaultSlot}, `size-${size}`]">
    <span class="link__icon">
      <template>
        <slot name="icon"></slot>
      </template>
    </span>
    <span class="link__text">
      <slot></slot>
    </span>
  </div>
</template>

<script>
  export default {
    computed: {
      hasDefaultSlot() {
        return !!this.$slots.default
      },
    },
    props: {
      active: {
        default: false,
      },
      size: {
        type: String,
        default: "normal",
      },
      empty: {
        type: Boolean,
        default: false,
      },
      disabled: {
        type: Boolean,
        default: false,
      },
    },
    methods: {
      onClick() {
        if (!this.disabled) {
          this.$emit('click')
        }
      },
    },
  }
</script>

<style lang="scss" scoped>
  .link {
    color: rgba(#fff, 0.15);
    transition: all ease 0.3s;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;

    @include theme(light) {
      color: rgba($theme-light__secondary, 0.35);
    }

    @include theme(red, green, blue) {
      color: rgba(#fff, 0.3);
    }

    &:hover {
      color: rgba(#fff, 0.4);

      @include theme(light) {
        color: $theme-light__primary;
      }

      &.is-disabled {
        color: rgba(#fff, 0.15);

        @include theme(light) {
          color: rgba($theme-light__secondary, 0.35);
        }
      }
    }

    &.is-active {
      color: rgba(#fff, 0.5);

      @include theme(red, green, blue) {
        color: rgba(#fff, 0.9);
      }

      @include theme(light) {
        color: $theme-light__primary;
      }
    }

    &.is-disabled {
      cursor: default;
      opacity: 0.6;
    }
  }

  .link__icon {
    margin-right: 7px;
    line-height: 1;

    svg {
      width: 18px;
      height: 18px;
    }

    .is-empty & {
      margin: 0;
    }

    .size-min & {
      width: 16px;
      height: 16px;
      margin-right: 6px;
    }
  }

  .link__text {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;

    .size-min & {
      font-size: 11px;
    }
  }
</style>
