<template>
  <transition name="fade">
    <div class="notification" v-show="isShow">
      <transition name="trans">
        <div class="notification__body" v-if="isShow">
          {{ message }}
        </div>
      </transition>
    </div>
  </transition>
</template>

<script>
  import { mapState, mapGetters } from 'vuex'

  export default {
    computed: {
      ...mapGetters({
        message: 'notifications/message',
        isShow: 'notifications/isShow',
      }),
    },
  }
</script>

<style lang="scss" scoped>
  .notification {
    position: fixed;
    z-index: 1000000000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    @include theme(dark) {
      background: rgba(#0c2134, 0.3);
    }

    @include theme(light) {
      background: rgba($light-bg-color, 0.3);
    }

    @include theme(red) {
      background: rgba($red-bg-color, 0.3);
    }

    @include theme(green) {
      background: rgba($green-bg-color, 0.3);
    }

    @include theme(blue) {
      background: rgba($blue-bg-color, 0.3);
    }
  }

  .notification__body {
    max-width: 500px;
    padding: 30px 50px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.3px;
    box-shadow: 0 0 50px rgba(#000, 0.15);
    background: rgba(#fff, 1);

    @include theme(dark) {
      color: #fff;
      box-shadow: 0 0 50px rgba(#000, 0.15);
      background: rgba(#152d42, 0.97);
    }

    @include theme(light, blue) {
      color: $blue-text-color;
    }

    @include theme(red) {
      color: $red-text-color;
    }

    @include theme(green) {
      color: $green-text-color;
    }
  }
</style>

<style lang="scss">
  .trans-enter-active, .trans-leave-active {
    transition: all 0.3s;
  }

  .trans-enter, .trans-leave-to {
    transform: scale(0.95);
    opacity: 0;
  }
</style>
