<template>
  <transition name="fade">
    <div class="popover" :class="[`align-${align}`]" v-if="open" :style="style">
      <IconClose class="popover__close" @click.native="close" />
      <div class="popover__title" :class="{'has-subtitle': !!subtitle}">{{ title }}</div>
      <div class="popover__subtitle" v-if="subtitle">{{ subtitle }}</div>
      <div class="popover__content">
        <slot></slot>
      </div>
    </div>
  </transition>
</template>

<script>
  import { IconClose } from '~/components/Icons'

  export default {
    components: {
      IconClose
    },
    props: {
      open: {
        type: Boolean,
        default: false,
      },
      title: {
        type: String,
        default: '',
      },
      subtitle: {
        type: [String, Boolean],
        default: false,
      },
      align: {
        type: String,
        default: 'center',
      },
      width: {
        type: [String, Number],
        default: 'auto',
      },
    },
    computed: {
      style() {
        let width = this.width == 'auto' ? 'auto' : `${this.width}px`
        return {
          width
        }
      },
    },
    methods: {
      close() {
        this.$emit('close')
      },
    },
  }
</script>

<style lang="scss" scoped>
  $bg-dark: #1B3247;
  $bg-dark-mobile: #0c2134;
  $bg-light: #FFFFFF;

  .popover {
    position: absolute;
    bottom: 40px;
    padding: 20px;
    border-radius: 5px;
    background: $bg-light;
    transition: all ease 0.3s;
    user-select: none;
    z-index: 1;

    @include theme(light, blue, green, red) {
      box-shadow: 0 5px 20px rgba(#000, 0.05);
    }

    &.align-center {
      left: 50%;
      transform: translateX(-50%);

      &::after {
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &.align-right {
      right: -15px;

      &::after {
        right: 20px;
      }
    }

    &.align-left {
      left: -15px;

      &::after {
        left: 20px;
      }
    }

    &.align-center-left {
      left: 50%;
      transform: translateX(-50%);

      @include media(tablet-portrait-plus) {
        transform: translateX(0);
        left: -15px;
      }

      @include media(mobile) {
        left: 0;
      }

      &::after {
        left: 50%;
        transform: translateX(-50%);

        @include media(tablet-portrait-plus) {
          transform: translateX(0);
          left: 20px;
        }

        @include media(mobile) {
          left: 0;
        }
      }
    }

    @include theme(dark) {
      background: $bg-dark;
    }

    @include media(mobile) {
      position: fixed;
      -webkit-overflow-scrolling: touch;
      z-index: 100000000;
      width: 100vw !important;
      height: 100vh;
      left: 0;
      right: 0;
      transform: none;
      max-width: none;
      top: 0;
      border-radius: 0;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      padding-top: 100px;

      @include theme(dark) {
        background: $bg-dark-mobile;
      }
    }
  }

  .presets__popover {

    @include media(mobile) {
      justify-content: flex-start !important;
      overflow: scroll !important;
    }
  }

  .popover::after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 9px 0 9px;
    border-color: $bg-light transparent transparent transparent;
    position: absolute;
    bottom: -9px;
    transition: all ease 0.3s;

    @include theme(dark) {
      border-color: $bg-dark transparent transparent transparent;
    }
  }

  .popover__title {
    display: none;

    @include media(mobile) {
      display: block;
      margin-bottom: 30px;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 20px;
      letter-spacing: 1px;
      margin-top: -30px;
    }

    &.has-subtitle {

      @include media(mobile) {
        display: none;
      }
    }
  }

  .popover__subtitle {
    text-align: center;
    margin: -5px 0 10px;
    font-size: 10px;
    text-transform: uppercase;
    opacity: 0.4;
    letter-spacing: 0.5px;

    @include media(mobile) {
      margin-bottom: 30px;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 20px;
      letter-spacing: 1px;
      margin-top: -30px;
      opacity: 1;
    }
  }

  .popover__close {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    transition: all ease 0.3s;
    user-select: none;
    display: none;
    z-index: 20;

    @include media(mobile) {
      display: block;
    }

    &:hover {
      opacity: 0.5;
    }
  }
</style>
