<template>
  <div :class="[code, $style.root]" v-click-outside="hidePopover">
    <Action
      :class="[`${code}__link`]"
      :active="isShowPopover"
      :empty="!title"
      @click.native="togglePopover"
    >
      <template v-slot:icon="scope">
        <slot name="icon"/>
      </template>
      {{ title }}
    </Action>
    <Popover
      :class="[`${code}__popover`]"
      :open="isShowPopover"
      :title="title"
      :subtitle="subtitle"
      :align="align"
      :width="width"
      @close="hidePopover"
    >
      <slot></slot>
    </Popover>
  </div>
</template>

<script>
  import Action from '~/components/UI/Link'
  import Popover from '~/components/UI/Popover'
  import ClickOutside from 'vue-click-outside'

  export default {
    props: {
      title: {
        type: String,
        default: '',
      },
      subtitle: {
        type: [String, Boolean],
        default: false,
      },
      code: {
        type: String,
        default: '',
      },
      align: {
        type: String,
        default: 'center',
      },
      width: {
        type: [String, Number],
        default: 'auto',
      },
    },
    components: {
      Action, Popover,
    },
    data() {
      return {
        isShowPopover: false,
      }
    },
    directives: {
      ClickOutside,
    },
    watch: {
      isShowPopover(val) {
        return val ? this.$emit('popover-open') : this.$emit('popover-close')
      },
    },
    methods: {
      togglePopover() {
        this.isShowPopover = !this.isShowPopover
      },
      hidePopover() {
        this.isShowPopover = false
      },
    }
  }
</script>

<style module>
  .root {
    position: relative;
  }
</style>
