@import "./utils/reset.scss";
@import "./utils/fonts.scss";

html {
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  cursor: default;
  min-width: 320px;
  line-height: normal;
  font-weight: normal;
  font-size: 16px;
}

body, #__nuxt, #__layout {
  overflow-x: hidden;
}

#__nuxt, #__layout {
  display: flex;
  flex-direction: column;
  position: relative;
}

body, button, input, textarea {
  @include font();
}

a {
  text-decoration: none;
  transition: all ease 0.5s;
  color: inherit;
}
a:hover {
  text-decoration: none;
}
a:focus {
  outline: 0 !important;
}


input::placeholder, textarea::placeholder {
  color: #dddddd !important;
}

.error input, input.error {
  color: red;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}


.page-enter-active, .page-leave-active {
  transition: opacity 0.3s;
}
.page-enter, .page-leave-active {
  opacity: 0;
}


.fade-enter-active, .fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}


.slide-enter-active {
   transition-duration: 0.3s;
   transition-timing-function: ease-in;
}
.slide-leave-active {
   transition-duration: 0.3s;
   transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}


.slide-enter-to, .slide-leave {
   max-height: 100px;
   overflow: hidden;
}
.slide-enter, .slide-leave-to {
   overflow: hidden;
   max-height: 0;
}


.fader-enter-active, .fader-leave-active {
  transition: all 0.3s;
}
.fader-enter, .fader-leave-to {
  opacity: 0;
  overflow: hidden;
  height: 0;
}


.top-fade-enter-active, .top-fade-leave-active {
  transition: opacity 0.3s, transform 0.3s;
}
.top-fade-enter, .top-fade-leave-to {
  opacity: 0;
  transform: translateY(-20px);
}


.fade-up-enter-active, .fade-up-leave-active {
  transition: opacity 0.3s, transform 0.3s;
}
.fade-up-enter, .fade-up-leave-to {
  opacity: 0;
  transform: translateY(20px);
}


.layout-enter-active, .layout-leave-active {
  position: absolute;
  transition: opacity .15s
}
.layout-enter, .layout-leave-to {
  opacity: 0;
}


.crossfade-enter-active {
  transition: all 1s ease;
}
.crossfade-leave-active {
  display: none;
}
.crossfade-enter, .crossfade-leave-to {
  opacity: 0;
}
