@mixin image($url) {
  background-image: url('assets/images/#{$url}');
}

@mixin font() {
  font-family: "Cera Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

@mixin monospace() {
  font-family: "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

@mixin ie11() {
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    @content;
  }
}


@mixin media($size) {

  @if $size == large {
    @media (min-width: 1600px) {
      @content;
    }
  }

  @else if $size == default {
    @media (min-width: 1100px) and (max-width: 1600px) {
      @content;
    }
  }

  @else if $size == laptop {
    @media (min-width: 1000px) and (max-width: 1400px) {
      @content;
    }
  }

  @else if $size == tablet-landscape {
    @media (max-width: 1100px) {
      @content;
    }
  }

  @else if $size == tablet-landscape-only {
    @media (min-width: 800px) and (max-width: 1100px) {
      @content;
    }
  }

  @else if $size == tablet-portrait-plus {
    @media (max-width: 1000px) {
      @content;
    }
  }

  @else if $size == tablet-portrait {
    @media (max-width: 800px) {
      @content;
    }
  }

  @else if $size == tablet-portrait-only {
    @media (min-width: 600px) and (max-width: 800px) {
      @content;
    }
  }

  @else if $size == tablet-portrait-plus-only {
    @media (min-width: 600px) and (max-width: 1000px) {
      @content;
    }
  }

  @else if $size == mobile-plus {
    @media (max-width: 750px) {
      @content;
    }
  }

  @else if $size == mobile {
    @media (max-width: 560px) {
      @content;
    }
  }

  @else if $size == mobile-nano {
    @media (max-width: 330px) {
      @content;
    }
  }

  @else {
    @media (max-width: $size) {
      @content;
    }
  }
}

