$rose-color: #E60975;
$blue-color: #1B71C7;

$theme-light__primary: #3E396B;
$theme-light__secondary: #54679D;

$dark-title-color: #fff;

$light-active-color: #464177;
$light-bg-color: #F5F7F9;

$green-active-color: #14ac96;
$green-title-color: #26615e;
$green-text-color: #35524d;
$green-bg-color: #1ABFA1;

$blue-active-color: #3a83cc;
$blue-title-color: #3E396B;
$blue-text-color: #3E396B;
$blue-bg-color: #4C7CB7;

$red-active-color: #d34e5b;
$red-title-color: #501f1f;
$red-text-color: #665a77;
$red-bg-color: #CA395B;

@mixin theme($args...) {
  @each $name in $args {
    .theme-#{$name} & {
      @content;
    }
  }
}
