<template>
  <main class="main" :class="[`theme-${theme.code}`, {'is-hidden': isHidden}]">
    <nuxt class="main__content"/>
    <TheBackground class="main__background" />
    <TheNotification class="main__notification" />
    <transition name="fade">
      <TheConfetti class="main__confetti" v-if="isShowConfetti" />
    </transition>
  </main>
</template>

<script>
  import { mapState, mapGetters } from 'vuex'
  import TheBackground from '~/components/UI/Background'
  import TheNotification from '~/components/UI/Notification'
  import TheConfetti from '~/components/Confetti'

  export default {
    components: {
      TheBackground, TheNotification, TheConfetti,
    },
    computed: {
      ...mapGetters({
        theme: 'themes/current',
        isShowConfetti: 'confetti/isShow',
      }),
    },
    watch: {
      theme: {
        handler(val) {
          let favicon = document.querySelector("link[rel*='icon']")
          favicon.href = `/favicon-${val.code}.png`
        },
        deep: true,
      },
    },
    data() {
      return {
        isHidden: true,
      }
    },
    mounted() {
      window.onNuxtReady(() => {
        this.isHidden = false
      })
    },
  }
</script>

<style lang="scss" scoped>
  .main {
    min-height: 100%;
    opacity: 1;
    visibility: visible;
    transition: all ease 0.3s;

    &.is-hidden {
      visibility: hidden;
      opacity: 0;
    }
  }

  .main__content {
    position: relative;
    z-index: 1;
    color: #fff;

    @include theme(light, red, green, blue) {
      color: #3E396B;
    }
  }

  .main__background {
    position: absolute;
    min-height: 100vh;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
</style>

<style>
  [v-cloak] {
    display: none;
  }
</style>
