<template>
  <div class="content" v-cloak :class="{'is-distraction-free': isDistractionFree}">
    <TheHeader class="content__header" />
    <transition name="fade">
      <TheFilter class="content__filter" v-if="isShowFilter" />
    </transition>
    <transition name="fade">
      <TheBody class="content__body" v-show="!isShowFilter" />
    </transition>
    <transition name="fade">
      <TheFooter class="content__footer" v-show="!isShowFilter" />
    </transition>
    <transition name="fade">
      <TheHistory class="content__history" v-if="isShowHistory" />
    </transition>
  </div>
</template>

<script>
  import { mapState, mapGetters, mapActions } from 'vuex'
  import { debounce } from 'lodash'
  import TheHeader from '~/components/Header'
  import TheBody from '~/components/Body'
  import TheFooter from '~/components/Footer'
  import TheHistory from '~/components/History'
  import TheFilter from '~/components/Filter'

  export default {
    components: {
      TheHeader, TheBody, TheFooter, TheHistory, TheFilter,
    },
    computed: {
      ...mapState([
        'isShowHistory',
        'isShowFilter',
        'isDistractionFree',
      ]),
      ...mapGetters([
        'isShowIosPopup',
      ]),
      canOpen() {
        return !this.isShowHistory && !this.isShowFilter
      },
    },
    mounted() {
      this.startApp()
    },
    methods: {
      ...mapActions({
        loadTopics: 'topics/load',
        toggleDistractionFree: 'toggleDistractionFree',
        openFilter: 'openFilter',
        showHistory: 'showHistory',
        fetchFiltersFromUrl: 'filter/fetchFromUrl',
      }),
      mobileHeightBug() {
        document.documentElement.style.setProperty('--app-height', `${window.innerHeight}px`);
      },
      startApp: debounce(function() {
        this.loadTopics()
        this.$keyboard.bind('e', () => {
          if (this.canOpen) {
            this.toggleDistractionFree()
          }
        })
        this.$keyboard.bind('f', () => {
          if (this.canOpen) {
            this.openFilter()
          }
        })
        this.$keyboard.bind('h', () => {
          if (this.canOpen) {
            this.showHistory()
          }
        })
        this.mobileHeightBug()
        window.addEventListener('resize', () => {
          this.mobileHeightBug()
        })
        this.$track('hit', '/')
        this.fetchFiltersFromUrl()
      }, 10)
    }
  }
</script>

<style lang="scss">
  @import "~/assets/styles/tooltips.scss";

  :root {
    --app-height: 100%;
  }

  .content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    @media not all and (hover:hover) {
      min-height: var(--app-height);
    }
  }

  .content__header, .content__footer {

    .is-distraction-free & {
      opacity: 0;
      visibility: hidden;
    }
  }

  .content__body {
    flex: 1;
  }
</style>
